<!DOCTYPE html>
<html>
  <body>
    <h1>Testimonials</h1>
    <p>The advantages of the Crosswalk Project have benefited a broad set of mobile application developers throughout the industry.</p>

    <div class="iconGrid" id="iconGrid" >Grid of faces.</div>


    <script type="text/javascript">
      loadTestimonials(); 
    </script>

  </body>
</html>
