<!DOCTYPE html>
<html>
  <body>
    <h1>名人录</h1>
    <p>Crosswalk的特性给手机应用行业开发者带来了很多便利。</p>

    <div class="iconGrid" id="iconGrid" >Grid of faces.</div>


    <script type="text/javascript">
      loadTestimonials(); 
    </script>

  </body>
</html>
