<!DOCTYPE html>
<html>
  <body>
    <h1>工具和框架</h1>

    <p>下列开发工具和web app架构支持Crosswalk，使开发者能够更加容易地使用Crosswalk webview的优势。</p>

    <div class="tool-block">
      <div class="tool-grid" id="tool-div" ></div>
    </div>
   
    <script type="text/javascript">
      onToolsPage(); 
    </script>
  </body>
</html>
