<a href="#contents">Table of Contents</a>
<article class="article">
  <%- yield %>
</article>
<nav id="contents" class="article-nav">
  <ul>
    <li><a href="#">Getting started</a></li>
  </ul>
</nav>
