<?php
//Update links to Crosswalk download files from
// https://download.01.org/crosswalk/releases/crosswalk/...

ini_set('display_errors', 'On');
error_reporting(E_ALL);

$stableVersion = "N/A";
$betaVersion = "N/A";
$canaryVersion = "N/A";
$baseUrl = "https://download.01.org/crosswalk/releases/crosswalk/android";


// Get the version from website content. Return val example: "16.45.421.19"
function getVersion ($subject)
{
    $matches = array();
    $pattern = "/crosswalk\-\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\.zip/i";
    $retVal = preg_match ($pattern, $subject, $matches);
    if ($retVal) {
        //return version number
        $retVal = substr($matches[0], 10, strlen($matches[0]) - 14);
    } else {
        $retVal = "N/A";
    }
    return $retVal;
}


// create 3 cURL resources (async retrieve stable,beta,canary info)
$ch1 = curl_init();
curl_setopt($ch1, CURLOPT_URL, $baseUrl . "/stable/latest");
curl_setopt($ch1, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch1, CURLOPT_FOLLOWLOCATION, true);
curl_setopt($ch1, CURLOPT_HEADER, false);

$ch2 = curl_init();
curl_setopt($ch2, CURLOPT_URL, $baseUrl . "/beta/latest");
curl_setopt($ch2, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch2, CURLOPT_FOLLOWLOCATION, true);
curl_setopt($ch2, CURLOPT_HEADER, false);

$ch3 = curl_init();
curl_setopt($ch3, CURLOPT_URL, $baseUrl . "/canary/latest");
curl_setopt($ch3, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch3, CURLOPT_FOLLOWLOCATION, true);
curl_setopt($ch3, CURLOPT_HEADER, false);

$mh = curl_multi_init();
curl_multi_add_handle($mh,$ch1);
curl_multi_add_handle($mh,$ch2);
curl_multi_add_handle($mh,$ch3);

do {
        curl_multi_exec($mh, $running);
            curl_multi_select($mh);
} while ($running > 0);

$r1 = curl_multi_getcontent($ch1);
$r2 = curl_multi_getcontent($ch2);
$r3 = curl_multi_getcontent($ch3);
$stableVersion = getVersion ($r1);
$betaVersion   = getVersion ($r2);
$canaryVersion = getVersion ($r3);

//close handles
curl_multi_remove_handle($mh, $ch1);
curl_multi_remove_handle($mh, $ch2);
curl_multi_remove_handle($mh, $ch3);
curl_multi_close($mh);

?>

<style>
.downloads-table {
        text-align:center;
}
</style>

<h1>下载</h1>

<p>Crosswalk为多种操作系统和平台提供二进制文件。</p>

<p>通过Crosswalk编译web应用时，推荐使用基于NPM的<a href="/documentation/crosswalk-app-tools.      html">Crosswalk App Tools</a>，详细信息请参见<a href="/documentation/getting_started.html">开始</a>页面。该页面主要用于下载非稳定或者共享库版本。</p>

<p>推荐Cordova开发者使用<a href="https://crosswalk-project.org/documentation/cordova.html">Crosswalk Webview插件</a>, 它将自动下载相关的Crosswalk库。</p>

  <table class="downloads-table">
    <tr>
        <th>&nbsp;</th>
        <th style="text-align:center"><a href="#Stable" style="color:black">Stable</a><br><?php echo "($stableVersion)"?></th>
        <th style="text-align:center"><a href="#Beta"   style="color:black">Beta</a><br><?php echo "($betaVersion)"?></th>
        <th style="text-align:center"><a href="#Canary" style="color:black">Canary</a><br><?php echo "($canaryVersion)"?></th>
    </tr>

    <tr>
        <th>Android<br/>(ARM + x86)</th>

<?php
if ($stableVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/stable/latest/crosswalk-' . $stableVersion . '.zip">32-bit</a> / ' .
                '<a href="' . $baseUrl . '/stable/latest/crosswalk-' . $stableVersion . '-64bit.zip">64-bit</a></td>';
}
if ($betaVersion == "N/A") {
    echo '<td>Not available</td>';
} else { 
    echo '      <td><a href="' . $baseUrl . '/beta/latest/crosswalk-'   . $betaVersion   . '.zip">32-bit</a> / ' .
                    '<a href="' . $baseUrl . '/beta/latest/crosswalk-'   . $betaVersion   . '-64bit.zip">64-bit</a></td>';
}
if ($canaryVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/canary/latest/crosswalk-' . $canaryVersion . '.zip">32-bit</a> / ' .
                '<a href="' . $baseUrl . '/canary/latest/crosswalk-' . $canaryVersion . '-64bit.zip">64-bit</a></td>';
}
?>
    </tr>

    <tr>
       <th>Android webview<br/>(x86)</th>
<?php
//    x86/crosswalk-webview-16.45.421.19-x86.zip
// x86_64/crosswalk-webview-16.45.421.19-x86_64.zip

if ($stableVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/stable/latest/x86/crosswalk-webview-'    . $stableVersion . '-x86.zip">32-bit</a> / ' .
                                '<a href="' . $baseUrl . '/stable/latest/x86_64/crosswalk-webview-' . $stableVersion . '-x86_64.zip">64-bit</a></td>';
}
if ($betaVersion == "N/A") {
    echo '<td>Not available</td>';
} else { 
    echo '      <td><a href="' . $baseUrl . '/beta/latest/x86/crosswalk-webview-'      . $betaVersion   . '-x86.zip">32-bit</a> / ' .
    '<a href="' . $baseUrl . '/beta/latest/x86_64/crosswalk-webview-'   . $betaVersion   . '-x86_64.zip">64-bit</a></td>';
}
if ($canaryVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/canary/latest/x86/crosswalk-webview-'    . $canaryVersion . '-x86.zip">32-bit</a> / ' .
                        '<a href="' . $baseUrl . '/canary/latest/x86_64/crosswalk-webview-' . $canaryVersion . '-x86_64.zip">64-bit</a></td>';
}

?>
    </tr>

    <tr>
       <th>Android webview<br/>(ARM)</th>
<?php
//   arm/crosswalk-webview-16.45.421.19-arm.zip
//arm64/crosswalk-webview-16.45.421.19-arm64.zip

if ($stableVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/stable/latest/arm/crosswalk-webview-'    . $stableVersion . '-arm.zip">32-bit</a> / ' .
                                '<a href="' . $baseUrl . '/stable/latest/arm64/crosswalk-webview-' . $stableVersion . '-arm64.zip">64-bit</a></td>';
}
if ($betaVersion == "N/A") {
    echo '<td>Not available</td>';
} else { 
    echo '      <td><a href="' . $baseUrl . '/beta/latest/arm/crosswalk-webview-'      . $betaVersion   . '-arm.zip">32-bit</a> / ' .
                                    '<a href="' . $baseUrl . '/beta/latest/arm64/crosswalk-webview-'   . $betaVersion   . '-arm64.zip">64-bit</a></td>';
}
if ($canaryVersion == "N/A") {
    echo '<td>Not available</td>';
} else {
    echo '      <td><a href="' . $baseUrl . '/canary/latest/arm/crosswalk-webview-'    . $canaryVersion . '-arm.zip">32-bit</a> / ' .
                                '<a href="' . $baseUrl . '/canary/latest/arm64/crosswalk-webview-' . $canaryVersion . '-arm64.zip">64-bit</a></td>';
}

?>      
    </tr>

</table>

<p><a href="https://download.01.org/crosswalk/releases/crosswalk/">所有版本...</a></p>

<p>另请参见：
   <ul><li><a href="/documentation/getting_started_zh.html">开始</a>: 怎样使用这些下载链接。</li>
      <li><a href="/documentation/qa/quality_dashboard_zh.html">质量Dashboard</a>: 每个版本的测试覆盖率和结果。</li>
      <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/release-methodology/version-numbers">发行方式</a>: 版本号的意义。</li>
   </ul>
                                                                                          
<h2>发行说明</h2>

<ul>
   <li><a href="/blog/crosswalk-14-beta.html">Crosswalk-14</a></li>
   <li><a href="/blog/crosswalk-12-beta.html">Crosswalk-12</a></li>
   <li><a href="/blog/crosswalk-11-beta.html">Crosswalk-11</a></li>
   <li><a href="/blog/crosswalk-10-beta.html">Crosswalk-10</a></li>
   <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Crosswalk-9-release-notes">Crosswalk-9</a></li>
   <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Crosswalk-8-release-notes">Crosswalk-8</a></li>
   <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Release-dates">更多... (旧版本和新的规划)</a></li>
</ul>

<p>注意发行说明仅针对stable版本和beta版本。</p>

<h2>质量总结</h2>

<p>关于详细的质量总结，请参见页面<a href="/documentation/quality_dashboard_zh.html">质量Dashboard</a>。 </p>

<h2><a class="doc-anchor" id="Release-channels"></a>发布频道</h2>

<p>这里有三个发行频道(为了增加不稳定性)：</p>

<ol>
　<li>
    <p><a class="doc-anchor" id="Stable"></a><strong>Stable</strong></p>
   <p>Stable版本是针对最终用户发行的。一旦一个Crosswalk发行版本被提升到Stable频道，便只能在该版本中看到针对关键bug和安全问题的新二进制文件。</p>
  </li>

  <li>
    <p><a class="doc-anchor" id="Beta"></a><strong>Beta</strong></p>

    <p>Beta版本主要用于应用开发人员测试Crosswalk新的变化部分，或者是即将要发布为下一个Stable版本的特性。Beta版本的发布是基于自动的基础验收测试(ABAT),人工测试结果和功能变化。Beta版本的发布需要满足一个预期的稳定性水平的要求；但是，它仍然只是一个Beta版，可能包含大量的bug。</p>
</li>

<li>
  <p><a class="doc-anchor" id="Canary"></a><strong>Canary</strong></p>

  <p>Canary版本的发布很频繁（有时候可以达到每天）。It is based on a recent tip of master that passes a full build and automatic basic acceptance test.对于那些只关心Crosswalk最新特性而不想自己编译的开发者而言，Canary版本是一个不错的选择。</p>
  </li>
</ul>

<p>更多的信息请参见<a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Release-methodology">发布频道页面</a>。</p>

<p><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/release-methodology/version-numbers">Crosswalk版本编号页面</a>描述了Crosswalk版本号是如何分配的。</p>
