<!DOCTYPE html>
<html>
  <body>
    <h1>Downloads</h1>

    <p>The Crosswalk Project provides binaries for multiple
    operating systems and platforms.</p>

    <table class="downloads-table">
      <tr>
        <th>&nbsp;</th>
        <th><a href="#Stable" style="color:black">Stable</a></th>
        <th><a href="#Beta" style="color:black">Beta</a></th>
        <th><a href="#Canary" style="color:black">Canary</a></th>
      </tr>

      <tr>
        <th>Android<br/>(ARM + x86)</th>
        <td>
          <a data-role="static-download-link" data-channel="stable" data-os="android" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="beta" data-os="android" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="canary" data-os="android" data-arch="x86"></a>
        </td>
      </tr>

      <tr>
        <th>Android webview<br/>(x86)</th>
        <td>
          <a data-role="static-download-link" data-channel="stable" data-os="android-webview" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="beta" data-os="android-webview" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="canary" data-os="android-webview" data-arch="x86"></a>
        </td>
      </tr>

      <tr>
        <th>Android webview<br/>(ARM)</th>
        <td>
          <a data-role="static-download-link" data-channel="stable" data-os="android-webview" data-arch="arm"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="beta" data-os="android-webview" data-arch="arm"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="canary" data-os="android-webview" data-arch="arm"></a>
        </td>
      </tr>

    </table>

    <p><a href="https://download.01.org/crosswalk/releases/crosswalk/">Older versions...</a></p>

    <p>See also:
    <ul><li><a href="/documentation/getting_started.html">Getting started</a>: How to use these downloads.</li>
      <li><a href="/documentation/quality_dashboard.html">Quality Dashboard</a>: Test coverage and results for each build.</li>
      <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/release-methodology/version-numbers">Release methodology</a>: The meaning of the version numbers.</li>
    </ul>

    <h3>Cordova Android</h3>
    <p><strong>Note:</strong> Cordova developers are encouraged to use the <a href="https://crosswalk-project.org/documentation/cordova/cordova_4.html">Crosswalk Webview Plugin</a>, which will download the Crosswalk library automatically. The Cordova Android archives below contain Crosswalk's fork of the Cordova Android platform 3.6.3</a> and are provided for compatibility with legacy plugins and may be deprecated at any time. If you do need to use Cordova 3, follow <a href="/documentation/cordova/cordova_3.html">these instructions</a>.

    <table class="downloads-table">

      <tr>
        <th>&nbsp;</th>
        <th>Stable</th>
        <th>Beta</th>
        <th>Canary</th>
      </tr>

      <tr>
        <th>Cordova Android<br/>(x86)</th>
        <td>
          <a data-role="static-download-link" data-channel="stable" data-os="cordova" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="beta" data-os="cordova" data-arch="x86"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="canary" data-os="cordova" data-arch="x86"></a>
        </td>
      </tr>

      <tr>
        <th>Cordova Android<br/>(ARM)</th>
        <td>
          <a data-role="static-download-link" data-channel="stable" data-os="cordova" data-arch="arm"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="beta" data-os="cordova" data-arch="arm"></a>
        </td>
        <td>
          <a data-role="static-download-link" data-channel="canary" data-os="cordova" data-arch="arm"></a>
        </td>
      </tr>

    </table>


    <h2>Release notes</h2>

    <ul>
    <li><a href="/blog/crosswalk-14-beta.html">Crosswalk-14</a></li>
    <li><a href="/blog/crosswalk-12-beta.html">Crosswalk-12</a></li>
    <li><a href="/blog/crosswalk-11-beta.html">Crosswalk-11</a></li>
    <li><a href="/blog/crosswalk-10-beta.html">Crosswalk-10</a></li>
    <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Crosswalk-9-release-notes">Crosswalk-9</a></li>
    <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Crosswalk-8-release-notes">Crosswalk-8</a></li>
    <li><a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Release-dates">More... (past versions and future schedule)</a></li>
    </ul>

    <p>Note that release notes are only produced for stable and beta
    versions.</p>

    <h2>Quality Summary</h2>

    <p>Please view <a href="/documentation/quality_dashboard.html">Quality Dashboard</a> for detailed quality summary.</p>

    <h2><a class="doc-anchor" id="Release-channels"></a>Release channels</h2>

    <p>There are three release channels (in order of increasing
    instability):</p>

    <ol>
      <li>
        <p><a class="doc-anchor" id="Stable"></a><strong>Stable</strong></p>

        <p>A Stable release is a release intended for end users. Once a
        Crosswalk release is promoted to the Stable channel, that
        release will only see new binaries for critical bugs and
        security issues.</p>
      </li>

      <li>
        <p><a class="doc-anchor" id="Beta"></a><strong>Beta</strong></p>

        <p>A Beta release is intended primarily for application
        developers looking to test their application against
        any new changes to Crosswalk, or use new features due
        to land in the next Stable release. Beta builds are
        published based on automated basic acceptance tests (ABAT),
        manual testing results, and functionality changes. There is
        an expected level of stability with Beta releases; however,
        it is still Beta, and may contain significant bugs.</p>
      </li>

      <li>
        <p><a class="doc-anchor" id="Canary"></a><strong>Canary</strong></p>

        <p>The Canary release is generated on a frequent basis
        (sometimes daily). It is based on a recent tip of master that
        passes a full build and automatic basic acceptance test. The
        Canary build is an easy option for developers who are interested
        in the absolute latest features, but don't want to build
        Crosswalk themselves.</p>
      </li>
    </ul>

    <p>More information is available on the
    <a href="https://github.com/crosswalk-project/crosswalk-website/wiki/Release-methodology">Release Channels page</a>.</p>
<!--
    <p>The <a href="/contribute/channels_viewer">Channel Viewer</a>
    shows detailed information about the status of each release channel.</p>
-->
    <p>The <a href="https://github.com/crosswalk-project/crosswalk-website/wiki/release-methodology/version-numbers">Crosswalk
    version numbers page</a> describes how Crosswalk versions are assigned.</p>

    <script>
      populateStaticLinks();
    </script>
  </body>
</html>
