<div class="container">
  <div class="row">
    <% include ../_includes/nav.ejs %>
  </div>
  <div class="row">
    <article class="article">
      <header class="article-header">
        <h1 class="article-title">Getting started</h1>
      </header>
      <p>This will be the “transition” page.</p>
      <p>Getting more specific than the Crosswalk landing page, but still not as technical as the actual Android and Cordova documentation.</p>
      <section id="cordova">
        <h2>Cordova</h2>
        <p>Cordova is a set of device APIs for accessing device capabilities (e.g. file storage, accelerometer) from JavaScript. Aenean egestas lacus a sollicitudin pretium. Mauris rutrum, erat pretium sagittis iaculis, nibh lorem vulputate tortor, sit amet consectetur dolor sem eu nunc.</p>
        <p>Morbi pretium lectus ut mauris pulvinar gravida. Suspendisse tincidunt in metus ac aliquet. Maecenas porttitor nisi velit. Ut arcu lectus, tristique at tellus eget, hendrerit convallis eros. Phasellus posuere id odio id maximus. Etiam id sollicitudin velit. Donec at tristique sapien.</p>
      <a href="#">The next step on this platform…</a>
      </section>
      <section id="android">
        <h2>Android</h2>
        <p>Cordova is a set of device APIs for accessing device capabilities (e.g. file storage, accelerometer) from JavaScript. Aenean egestas lacus a sollicitudin pretium. Mauris rutrum, erat pretium sagittis iaculis, nibh lorem vulputate tortor, sit amet consectetur dolor sem eu nunc.</p>
        <p>Morbi pretium lectus ut mauris pulvinar gravida. Suspendisse tincidunt in metus ac aliquet. Maecenas porttitor nisi velit. Ut arcu lectus, tristique at tellus eget, hendrerit convallis eros. Phasellus posuere id odio id maximus. Etiam id sollicitudin velit. Donec at tristique sapien.</p>
      <a href="#">The next step on this platform…</a>
      </section>
      <section id="tizen">
        <h2>Tizen</h2>
        <p>Cordova is a set of device APIs for accessing device capabilities (e.g. file storage, accelerometer) from JavaScript. Aenean egestas lacus a sollicitudin pretium. Mauris rutrum, erat pretium sagittis iaculis, nibh lorem vulputate tortor, sit amet consectetur dolor sem eu nunc.</p>
        <p>Morbi pretium lectus ut mauris pulvinar gravida. Suspendisse tincidunt in metus ac aliquet. Maecenas porttitor nisi velit. Ut arcu lectus, tristique at tellus eget, hendrerit convallis eros. Phasellus posuere id odio id maximus. Etiam id sollicitudin velit. Donec at tristique sapien.</p>
      <a href="#">The next step on this platform…</a>
      </section>
      <section id="chrome">
        <h2>Chrome</h2>
        <p>Cordova is a set of device APIs for accessing device capabilities (e.g. file storage, accelerometer) from JavaScript. Aenean egestas lacus a sollicitudin pretium. Mauris rutrum, erat pretium sagittis iaculis, nibh lorem vulputate tortor, sit amet consectetur dolor sem eu nunc.</p>
        <p>Morbi pretium lectus ut mauris pulvinar gravida. Suspendisse tincidunt in metus ac aliquet. Maecenas porttitor nisi velit. Ut arcu lectus, tristique at tellus eget, hendrerit convallis eros. Phasellus posuere id odio id maximus. Etiam id sollicitudin velit. Donec at tristique sapien.</p>
      <a href="#">The next step on this platform…</a>
      </section>
      <p><a href="getting-started">Getting started with Crosswalk</a></p>
    </article>
  </div>
</div>
