<div class="container">
  <div class="row">
    <% include ../_includes/nav.ejs %>
  </div>
  <div class="row">
    <h2>Unfinished Example</h2>
    <a href="getting-started">Getting started with Crosswalk</a>
  </div>
</div>
