# OS
.DS_Store
*.swp

# Logs
logs
*.log
*.msg
*.map
cache/*.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
components
bower_components

# Compile directories
public/styleguide/

# Deploy local-config.php
local-config.php

# Gimp files
*.xcf

# Assets being edited locally
assets-raw/
