#documentation/*.html
#documentation/*/*.html
#contribute/*.html
#contribute/*/*.html
wiki/.gitignore
wiki/.htaccess
wiki/*.md
wiki/*.mediawiki
wiki/*.org
#wiki/*.html
wiki/documentation
wiki/contribute
wiki/.git
wiki/php_errors.log
wiki/assets
*.msg
*.map
#xwalk.css
#markdown.css
#menus.js
*.log
