@font-face{
    font-family: ClearSans-Regular;
    src: url("fonts/ClearSans-Regular.ttf") format("truetype");
    src: url("fonts/ClearSans-Regular.eot") format("embedded-opentype");
    src: url("fonts/ClearSans-Regular.svg") format("svg");
    src: url("fonts/ClearSans-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face { 
    font-family: ClearSans-Medium;
    src: url("fonts/ClearSans-Medium.ttf") format("truetype");
    src: url("fonts/ClearSans-Medium.eot") format("embedded-opentype");
    src: url("fonts/ClearSans-Medium.svg") format("svg");
    src: url("fonts/ClearSans-Medium.woff") format("woff");
    font-weight: normal;
}

@font-face{
    font-family:ClearSans-Bold;
    src: url("fonts/ClearSans-Bold.ttf") format("truetype");
    src: url("fonts/ClearSans-Bold.eot") format("embedded-opentype");
    src: url("fonts/ClearSans-Bold.svg") format("svg");
    src: url("fonts/ClearSans-Bold.woff") format("woff");
    font-weight: normal;
}

@font-face{
    font-family: ClearSans-Italic;
    src: url("fonts/ClearSans-Italic.ttf") format("truetype");
    src: url("fonts/ClearSans-Italic.eot") format("embedded-opentype");
    src: url("fonts/ClearSans-Italic.svg") format("svg");
    src: url("fonts/ClearSans-Italic.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: ClearSans-MediumItalic;
    src: url("fonts/ClearSans-MediumItalic.ttf") format("truetype");
    src: url("fonts/ClearSans-MediumItalic.eot") format("embedded-opentype");
    src: url("fonts/ClearSans-MediumItalic.svg") format("svg");
    src: url("fonts/ClearSans-MediumItalic.woff") format("woff");
    font-weight: normal;
}

@font-face{font-family:ClearSans-BoldItalic;
    src:url("fonts/ClearSans-BoldItalic.ttf") format("truetype");
    src:url("fonts/ClearSans-BoldItalic.eot") format("embedded-opentype");
    src:url("fonts/ClearSans-BoldItalic.svg") format("svg");
    src:url("fonts/ClearSans-BoldItalic.woff") format("woff");
    font-weight:normal;
}