/*
 * NOTE: xwalk.css is generated dynamically from xwalk.scss via
 *       xwalk.css.php
 * 
 * If there is a conversion problem, this file will be prefixed
 * with a note that it is a stale version and that the current
 * scss is failing to parse.
 *
 * If the site renders RED then check the file xwalk.msg
 *
 * When a version of xwalk.scss is newer than xwalk.css, the php
 * script will use sass to generate the new version.
 *
 * Source maps are created and saved as xwalk.css.map
 * If you are using Chrome 30 or newer, you can use these source
 * maps by following the insructions here:

https://developers.google.com/chrome-developer-tools/docs/css-preprocessors
 
 *
 */
@import 'bourbon/bourbon';

$small-break: 480px;
$medium-break: 960px;

$top-menu-fg: #ffefd8;
$top-menu-bg: hsl(13, 66%, 52%);
$top-menu-border: #f8d0ad;
$top-menu-hover-bg: hsl(13, 54%, 50%);
$top-menu-selected-fg: white;
$top-menu-selected-bg: hsl(13, 54%, 50%);
$top-menu-selected-hover-bg:  hsl(13, 54%, 50%);

$sub-nav-fg: #2e1a1c;
$sub-nav-bg: #dbd4ce;
$sub-nav-selected-fg: #2d1a20;
$sub-nav-selected-bg: hsl(33, 58%, 96%);
$sub-nav-hover-fg: #736e6c;
//$sub-nav-hover-bg: hsl(33, 58%, 86%);

$doc-body-fg: #361d23;
$doc-body-bg: #fbf7f0;

body {
//    font-size: 17px;
    line-height: 1.4rem;
    @media screen and (max-width: 80ex) {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    @media screen and (min-width: 120ex) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    margin: 0;
    padding: 0;
    min-width: 380px;
    font-family: "ClearSans-Regular",helvetica,georgia,sans-serif;
    overflow-y: scroll;
}

sup, sub {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
b {
    font-weight: bold;
    font-family: "ClearSans-Medium",helvetica,georgia,sans-serif;
}

h1 {
    font-family: "ClearSans-Bold",helvetica,georgia,sans-serif;
    margin: 40px 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 10px 0;
}

.absent {
    color: red;
}

#page {
    background: url(assets/tile-chocolate.jpg);
    position: relative;
    
    .sub-menu {
        background-color: $sub-nav-bg;
        color: $sub-nav-fg;
        
        position: fixed; /* so onScroll can dynamically set top */
        padding-top: 48px;
        display: inline-block;
        width: 200px;
        min-width: 200px;
/*
        @media (max-width: $small-break) {
            width: 32px;
            min-width: 32px;
            &:hover {
                width: 200px;
            }
            z-index: 5;
        }
*/
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 100%;
        
        a {
            display: block;
            text-decoration: none;
            color: $sub-nav-fg;
            text-align: left;
            padding: 4px 20px;
            line-height: 18px;
            font-size: 16px;
        }
        
        a:hover {
            color: $sub-nav-hover-fg;
        }
    
        a.active {
            background: $sub-nav-selected-bg;
            color: $sub-nav-selected-fg;
        }
    
        a.loading {
            background-image: url(assets/loading.gif);
            background-size: 16px 16px;
            background-position: 0px 50%;
            background-repeat: no-repeat;
        }
    }
    
    .sub-content {
        position: relative;
        left: 200px;
/*        
        @media (max-width: $small-break) {
            left: 32px;
        }
*/
        vertical-align: top;
        display: inline-block;
        background: $doc-body-bg;
        color: $doc-body-fg;
        text-align: left;
        white-space: normal;
        position: relative;
        padding-bottom: 64px;
    }
}

#documentation-column, #contribute-column, #wiki-column {
    max-width: 900px;
    margin: 0 auto;
}

#wiki-column {
    min-width: 408px;
    max-width: 70ex;
    font-size: 1.5rem;
    .sub-content {
        position: relative;
        left: 0px;
    }
}

.column {
    width: 100%;
    height: auto;
    min-height: 320px;
    background: $sub-nav-bg;
    
    /* padding-top: height (top-menu); <-- calculated in js */
}

#home-column {
    p {
        margin: 0 16px;
    }
    
    h1 {
        margin-left: 16px;
        margin-right: 16px;
    }
}

#home {
    min-width: 408px;
    @include background(linear-gradient(to top, #e76840 0%, #f49541 65%, #ed7332 100%));    
    
    .logo {
        padding-top: 5em;
        display: inline-block;
        background-image: url(assets/crosswalk-LOGO-lrg.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 477px auto;
        height: 51px;
        width: 100%;
        margin-bottom: 36px;
    }

    @media (max-width: $small-break) {
        .logo {
            background-size: 400px auto;
            height: (51*400/477)px;
        }
    }
    
    .content {
        white-space: normal;
        margin: 32px 0;
        color: #fff4e5;
        position: relative;
        padding: 0;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .container {
        width: 100%;
    }
    
    .container:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0px;
        vertical-align: middle;
    }
    
    .more-button-box {
        top: -100px;
        position: absolute;
        height: 130px;
        left: 0px;
        width: 100%;
        display: inline-block;
        text-align: center;
        a {
            background-size: 64px 64px;
            border-radius: 32px;
            display: inline-block;
            height: 64px;
            width: 64px;
            &:hover {
                outline: none;
                box-shadow: 0 0 10px hsla(47, 96%, 67%, 0.8);
            }
        }
    }
    
    #sunburst.background {
        @include background(radial-gradient(circle at 50% 115%, white 0%, white 9%, rgba(252, 217, 89, 0.8) 17%, rgba(246, 137, 55, 0) 45%));
    }
    #small-circle.background {
       @include background(radial-gradient(circle at 50% 115%, rgba(250, 196, 72, 0.12) 0%, rgba(250, 196, 72, 0.12) 40%, rgba(0, 0, 0, 0) 40%));
    }
    #big-circle.background {
       @include background(radial-gradient(farthest-side circle at 40% 115%, rgba(222, 97, 62, 0.2) 0%, rgba(222, 97, 62, 0.3) 90%, rgba(0, 0, 0, 0) 90%));
    }
    
    .button {
        font-family: "ClearSans-Medium",helvetica,georgia,sans-serif;
        height: 40px;
        font-size: 18px;
        width: 180px;
        display: inline-block;
        margin: 3px;
        @media (max-width: $medium-break) {
            width: 240px;
            display: block;
            margin: 3px auto;
        }
        cursor: pointer;
        text-decoration: none;
        padding: 2px;
        border-radius: 6px;
        vertical-align: middle;
        border-width: 2px;
        border-style: solid;
        text-align: center;
        a {
            display: inline-block;
            border-radius: 2px;
            height: 100%;
            width: 100%;
            text-decoration: none;
            line-height: 40px;
        }
    }

    #button-box {
        text-align: center;
        margin-top: 18px;
        width: 100%;
    }
    
    #download-button {
        background-color: hsl(35, 100%, 89%);
        border-color: hsl(141, 17%, 49%);
        a {
            background-color: hsl(141, 17%, 49%);
            color: hsl(35, 100%, 89%);
        }
    }
    
    #download-button:hover {
        background-color: hsl(35, 100%, 94%);
        border-color: hsl(141, 17%, 54%);
        a {
            background-color: hsl(141, 17%, 54%);
            color: hsl(35, 100%, 94%);
        }
    }
    
    #documentation-button {
        background-color: hsl(35, 100%, 89%);
        border-color: hsl(13, 76%, 57%);
        a {
            background-color: hsl(13, 76%, 57%);
            color: hsl(35, 100%, 89%);
        }
    }
    #documentation-button:hover {
        background-color: hsl(35, 100%, 94%);
        border-color: hsl(13, 76%, 62%);
        a {
            background-color: hsl(13, 76%, 62%);
            color: hsl(35, 100%, 94%);
        }
    }
    
    #contribute-button {
        background-color: hsl(13, 76%, 57%);
        border-color: hsl(36, 100%, 88%);
        a {
            background-color: hsl(36, 100%, 88%);
            color: hsl(13, 76%, 57%);
        }
    }
    #contribute-button:hover {
        background-color: hsl(13, 76%, 62%);
        border-color: hsl(36, 100%, 98%);
        a {
            background-color: hsl(36, 100%, 98%);
            color: hsl(13, 76%, 62%);
        }
    }
}
    
.divider {
    border-top: 2px solid;
    text-align: center;
    height: 10px;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.right-corner {
    border-bottom: 10px solid rgba(0,0,0,0);
    border-left: 10px solid;
    width: 0;
    height: 0;
    left: calc(50%);
    top: 10px;
    position: relative;
}

.left-corner {
    border-bottom: 10px solid rgba(0,0,0,0);
    border-right: 10px solid;
    width: 0;
    height: 0;
    left: calc(50% - 10px);
    top: 0px;
    position: relative;
}


#overview .divider {
    border-color: #ef8f45;
    background-color: #e4643d;
    .right-corner {
        border-left-color: #e4643d;
    }
    .left-corner {
        border-right-color: #e4643d;
    }
}



#samples-overview .divider {
    border-color: #bcba70;
    background-color: #8eb08f;
    .right-corner {
        border-left-color: #8eb08f;
    }
    .left-corner {
        border-right-color: #8eb08f;
    }
}

#samples-overview .content {
    padding-bottom: 48px;
    h1 {
        margin: 0 0 16px 0;
    }
}

#footer {
    .divider {
        border-color: #6c5245;
        background-color: #331c22;
    }
    .content {
        padding: 0;
    }
}

.tile-overlay {
    @include background(url(assets/bg-tile.png));    
}


#overview {
    @include background(radial-gradient(circle at 50% 50%, #532824 0%, #3e2220 300px, #2f191e 100%));
    min-width: 408px;
    
    h1 {
        line-height: 1.1em;
    }

    p {
        margin: 0;
    }

    .content {
        padding: 48px 16px 64px 16px;
        text-align: left;
        color: #fcfcfc;
        width: auto;
    }
    
    #illustration {
        background: url(assets/architecture_crosswalk.png) 0% 50% no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        width: 100%;
        height: 0;
        padding-bottom: percentage(313/564);
        margin-bottom: 20px;
    }
}

.community-button {
    padding: 2px;
    border-radius: 7px;
    margin: 5px 0;
    vertical-align: middle;
    border: 2px solid hsl(34, 92%, 85%);
    text-align: left;
    min-width: 194px;
    a {
        display: inline-block;
        border-radius: 3px;
        height: 100%;
        width: calc(100% - 15px);
        text-decoration: none;
        line-height: 32px;
        color: hsl(103, 18%, 19%);
        background-color: hsl(34, 92%, 85%);
        padding-left: 15px;
    }
}
.community-button:hover {
    border-color: hsl(34, 92%, 90%);
    a {
        color: hsl(103, 18%, 29%);
        background-color: hsl(34, 92%, 90%);
    }
}

#samples-overview {
    @include background(linear-gradient(to bottom, #354b3d 0%, #55523e 80%));
    padding-top: 40px;
    min-width: 408px;
    padding-bottom: 64px;

    .content {
        text-align: center;
        max-width: 800px;
    }

    /* JS is used to size and position the crossing-tile */
    #crossing-tile {
        > div {
            @include background(url(assets/crossing-tile-vertical.png) 50% 16px repeat repeat);
            position: asolute;
            width: 100%;
            height: 100%;
        }
        border-style: solid;
        border-color: rgba(128, 128, 128, 0.15);
        border-width: 2px 0;
        padding: 16px 0;
    }
    
    table {
        border: 0;
        margin: auto;
        width: 100%;
        text-align: left;
        vertical-align: top;
        color: #fcfcfc;
        padding-bottom: 16px;
        td:first-child {
            max-width: 450px;
        }
        td:last-child {
        }
        tr:first-child > td {
            font-size: 18px;
            line-height: 1.5em;
        }
        tr:first-child td:first-child h1 {
            padding-left: 12px;
        }
        td {
            vertical-align: top;
        }
        tbody {
            &> tr {
                &> td:first-child {
                    padding-top: 16px;
                }
                &> td:last-child {
                    padding-right: 16px;
                    padding-top: 24px;
                }
                &> td {
                }
            }
        }
    }
    #contribute {
        vertical-align: top;
        line-height: 32px;
    }
}

.content {
    display: inline-block;
    max-width: 70ex;
    opacity: 1;
    padding: 52px 0 64px 0;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    text-align: center;
}

.boxed {
    background: url(assets/home-arrow.png) 50% 50% no-repeat;
    background-size: 100% 100%;
}

.unboxed {
    background: url(assets/down-arrow-unboxed.png) 50% 50% no-repeat;
    background-size: 100% 100%;
}

.unboxed-to-top {
    background: url(assets/up-arrow-unboxed.png) 50% 50% no-repeat;
    background-size: 50% auto;
    padding-top: 42px;
    text-decoration: none;
    color: hsl(0, 0%, 40%);
}

/*
.sample:before {
    border: 3px solid rgb(40, 40, 40);
    border-radius: 3px;
    opacity: 0.8;
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
*/
.sample {
    border-radius: 3px;
    border-width: 1px;
    border-style: inset;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-color: #756e5d;
    border-left-color: #444032;
    border-bottom-color: #756e5d;
    box-shadow: inset 0 0 3px 3px rgba(40, 40, 40, 0.3);
    width: 160px;
    height: 120px;
    display: inline-block;
    margin: 12px 10px;
    background-size: calc(100% - 6px);
    background-position: 50% 50%;
    background-repeat: no-repeat;

    color: #fcd7ab;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.3);
    font-size: 18px;
    line-height: 120px;
    cursor: pointer;
    opacity: 0.8;
}
    
.sample:hover {
    opacity: 1;
}

.sample-1 {
    background-image: url(assets/sampapp-icon-helloworld.png);
}
.sample-2 {
    background-image: url(assets/sampapp-icon-api.png);
}
.sample-3 {
    background-image: url(assets/sampapp-icon-webgl.png);
}
.sample-4 {
}

#footer {
    position: relative;
    @include background(linear-gradient(to bottom, #262414 0%, #1c1305 100px));
    color: #cbc6c2;
    padding: 0 0 32px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: "ClearSans-Regular",helvetica,georgia,sans-serif;
    font-size: 1.1em;
    min-width: 408px;
}

#footer .background {
    z-index: 0;
}

#footer-padding {
    width: 100%;
    min-width: 408px;
    display: inline-block;
    position: relative;
    background: #1c1305;
    margin-bottom: -5px;
}

#footer-logo {
    display: inline-block;
    position: relative;
    height: 76px;
    top: 0px;
    margin-bottom: -20px;
    width: 100%;
    background: url(assets/crosswalk-LOGO-med.png) 50% 50% no-repeat;
    background-size: 150px 15px;
    z-index: 100;
}

#footer #who {
    line-height: 1rem;
    font-size: 0.8rem;
    padding-top: 18px;
}

#footer #copyright {
    line-height: 1rem;
    font-size: 0.8rem;
}

#footer #others {
    line-height: 1rem;
    font-size: 0.8rem;
    color: #808080;
}

#top-menu {
    display: inline-block;
    text-align: right;
    position: fixed;
    background: $top-menu-bg;
    color: $top-menu-fg;
    height: 1px;
    opacity: 0.9;
    width: 100%;
    min-height: 64px;
    min-width: 408px;
    top: -64px;
    border-bottom: 3px solid $top-menu-border;
    z-index: 100;
    font-family: "ClearSans-Medium",helvetica,georgia,sans-serif;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    &>div{
        padding-right: 100px;
    }

    @include transition(opacity 0.125s ease-out, top 0.125s ease-out);

    &.hide-delay {
         @include transition(opacity 0.125s ease-out 0.75s, top 0.125s ease-out 0.75s);
    }
    
    .slider {
        left: 0px;
        position: absolute;
        display: inline-block;
        text-align: center;
        background: $top-menu-selected-bg;
        height: 100%;
        border-style: solid;
        border-color: $top-menu-border;
        border-width: 0 2px;
        z-index: -1;
        &.slide-around {
            @include transition(left 0.2s ease-out, width 0.2s ease-out);
        }
    }
    
    a {
        display: inline-block;
        height: 64px;
        line-height: 64px;
        padding: 0 15px;
        text-align: center;
        color: $top-menu-fg;
        text-decoration: none;
    }
    a:hover {
        background: $top-menu-hover-bg;
    }
    a.active {
        color: $top-menu-selected-fg;
        background: none;
    }

    a[href="#home"] {
        background-image: url(assets/crosswalk-LOGO-med.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 200px auto;
        width: 200px;
        height: 64px;
        position: absolute;
        left: 0px;
        min-width: 200px;
    }
    
    @media (max-width: $medium-break) {
        min-height: 48px;
        top: -48px;

         &>div{
            padding-right: 8px;
        }
        
        a {
            height: 48px;
            line-height: 48px;
        }
        
        a[href="#home"] {
            width: 100px;
            height: 48px;
            min-width: 100px;
            background-size: 100px auto;
        }
    }
    @media (max-width: $small-break) {
        a[href="#home"] {
            width: 30px;
            height: 48px;
            min-width: 30px;
            background-image: url(assets/crosswalk-LOGO-Wmark-small.png);
            background-size: 30px auto;
        }
    }
}

.section {
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 120px;
    height: auto;
}

.hidden {
    display: none;
}
