// Base styling
//
// Styleguide 1.1.
html,
body {
  font-family: $base-font-family;
}

// Default list styling with hanging bullets
//
// ul, ol             - Restores nested lists
// nav, footer        - Removes bullets and vertical margins
//
// Styleguide 1.2.
ul,
ol,
li {
  margin-left: 0;
  padding-left: 0;
  ul,
  ol {
    margin-left: 2em;
  }
  nav &,
  footer & {
    margin: 0;
    list-style-type: none;
  }
}

// Constrain image max-width by default
//
// Styleguide 1.3.
img {
  max-width: 100%;
}

//
//
// Styleguide 1.4.
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}
