// Base styling
//
// Establishes the basic font and color settings beyond Normalize.css.
//
// Styleguide 1.1.
html,
body,
.body {
  font-family: $base-font-family;
  background: $color-background;
  color: $color-text;
  font-size: $base-font-size;
}

// Text selection
//
// Changes background color of selected text.
//
// No styleguide reference.
::-moz-selection {
  background: $color-orange-lighter;
}
::selection {
  background: $color-orange-lighter;
  color: inherit; // http://robsterlini.co.uk/journal/opentype-and-selection-dont-mix
  text-shadow: inherit; // “”
}

// Anchors
//
// :focus  - lighten the link when focusing with the keyboard
// :hover  - lighten the link when hovering with a pointer
// :active - darken the link once it’s been pressed
//
// Markup:
// <a href="#">Intel XDK</a>
// <a href="#"><p>Example content <span class="a-faux">Read more…</span></p></a>
//
// Styleguide 1.2.
a,
a:visited,
.a-faux {
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 1.125em;
  @include linear-gradient(to bottom, rgba(0,0,0,0) 75%, $color-green 75%);
  background-size: 2px 2px;
  text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF;
  color: $color-green;
  @include transition(opacity 0.125s ease-in-out, color 0.125s ease-in-out, background-color 0.125s ease-in-out, border-color 0.125s ease-in-out);
  &:hover {
    color: darken($color-green-light, 15%);
  }
  &:focus {
    color: darken($color-green-light, 15%);
    transition-duration: 0;
    box-shadow: 0 0 0 1px $color-orange;
    outline: 0;
    border-radius: $base-border-radius;
  }
  &:active {
    color: $color-green-dark;
  }
}

// Lists
//
// Default list styling with <ul> hanging bullets
//
// Styleguide 1.3.
ul,
ol,
dl,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  ul,
  ol,
  dl {
    margin-before: modular-scale($base-font-size, 0, $base-ratio);
    margin-after: modular-scale($base-font-size, 0, $base-ratio);
  }
  ul,
  ol,
  dl,
  li {
    margin-left: $gutter;
    padding-left: 0;
    @include media($wide) {
      margin-left: 0;
    }
    @include media($huge) {
      // clear: left;
      @include shift(1);
    }
  }
}

// Media
//
// Constrain image max-width by default
//
// Styleguide 1.4.
figure,
svg,
img {
  max-width: 100%;
}

// Monospaced sections
//
// Styleguide 1.5.
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
  font-weight: inherit;
}

// Basic tables.
//
// Styleguide 1.6.
table {
  border-collapse: collapse;
  margin: $base-line-height * 1em 0;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
}

// Basic table headers.
//
// Styleguide 1.5.1.
thead {
  font-weight: 600;
  padding: $base-line-height * 1em 0;
  text-align: left;
  vertical-align: middle;
}

//
//
// Styleguide 1.5.2.
td {
  padding: ($base-line-height / 2) 0;
  vertical-align: middle;
}

// Headings
//
// Styleguide 1.5.3.
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-display;
  font-weight: 800; // Maybe move this
  // line-height: $headings-line-height;

  small {
    line-height: 1;
  }
}

h1, .h1 {
  margin-top: $base-line-height * 0.5em;
  margin-bottom: ($base-line-height * 0.5em / 2);
  line-height: 1;

  small {
    font-size: 65%;
  }
}

h2, .h2,
h3, .h3 {
  margin-top: $base-line-height * 1em;
  margin-bottom: ($base-line-height * 1em / 2);

  small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($base-line-height * 1em / 2);
  margin-bottom: ($base-line-height * 1em / 2);

  small {
    font-size: 75%;
  }
}

h1,
.h1 {
  font-size: modular-scale($base-font-size, 5, $base-ratio);
  line-height: 1.1;
  @include media($wide) {
    font-size: modular-scale($base-font-size, 7, $base-ratio);
  }
}

h2,
.h2 {
  font-size: $base-font-size;
  font-size: modular-scale($base-font-size, 3, $base-ratio);
  line-height: 1.1;
  text-align: center;
  @include media($wide) {
    font-size: modular-scale($base-font-size, 4, $base-ratio);
    text-align: left;
  }
}

h3,
.h3 {
  font-size: modular-scale($base-font-size, 2, $base-ratio);
  line-height: 1.1;
  @include media($wide) {
    font-size: modular-scale($base-font-size, 2, $base-ratio);
  }
}

h4,
.h4 {
  font-size: $base-font-size;
  font-size: modular-scale($base-font-size, 1, $base-ratio);
}

h5,
h6,
.h5,
.h6 {
  font-size: $base-font-size;
  font-size: modular-scale($base-font-size, 0, $base-ratio);
}

p {
  margin: 0 0 ($base-line-height * 1em / 2);
}

// Helpers
//
// Move. Could be dropped, or could use these in favour
// of blockquote--left, etc.
//
// No styleguide reference.
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


// Lead
//
// Move to article/blog stuff
//
// No styleguide reference.
.lead,
article > p:first-of-type {
  @include media($mid) {
    margin-bottom: $base-line-height * 1em;
    font-size: modular-scale($base-font-size, 2, $base-ratio);
    line-height: $base-line-height;
  }
}

// Addresses
//
// No styleguide reference.
address {
  font-style: normal;
}

// Inputs
//
// No styleguide reference.
textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  &:focus {
    outline: none;
  }
}
