// The main container
//
// Markup:
// <div class="container"></div>
//
// Styleguide 2.1.
.container {
  @include outer-container();
  padding-left: $gutter;
  padding-right: $gutter;
}

// Fixes the visual grid based on the container’s padding.
//
// No styleguide reference.
@if $visual-grid == true {
  body:before {
    @include calc(width, '100% - #{ $gutter * 2 }');
    @include calc(max-width, '#{ $max-width } - #{ $gutter * 2 }');
  }
}

// A class that resets the row within a container.
//
// Markup:
// <div class="row"></div>
//
// Styleguide 2.2.
.row,
.row--lrt {
  @include row();
  @include media($wide) {
    @include row();
    @include span-columns(6);
    @include shift(1);
  }
}

// A class that changes the text direction of the row to Right to Left.
//
// Markup:
// <div class="row--rtl"></div>
//
// Styleguide 2.2.1.
.row--rtl {
  @include row(RTL);
}

// Row margins,
// this might be too presumptuous
.row + .row {
  margin-top: $base-line-height * 2em;
  @include media($wide) {
    margin-top: $base-line-height * 4em;
  }
}
