// Hidden helpers
//
// Like Bootstrap
//
// No styleguide reference.

.hidden {
  display: none;
  visibility: hidden;
}

@include media($narrow) {
  .hidden--narrow {
    display: none;
    visibility: hidden;
  }
}

@include media($wide) {
  .hidden--wide {
    display: none;
    visibility: hidden;
  }

}

@include media($huge) {
  .hidden--huge {
    display: none;
    visibility: hidden;
  }

}
