// Base sizes
//
// No styleguide reference.
$base-font-size: 1.05em;
$base-border-radius: 0.125em;
$base-ratio: $minor-third;
$base-line-height: 1.4;


// Grid Settings
//
// No styleguide reference.
$visual-grid: false;
// $show_media_queries: true;
$visual-grid-color: rgba(tomato, 0.5);
$visual-grid-index: front;
$column: modular-scale($base-font-size, 10, $base-ratio);
$gutter: modular-scale($base-font-size, 1, $base-ratio);
$grid-columns: 4;
$max-width: 70em;


// Font Stacks
//
// No styleguide reference.
$font-family-sans:      "Clear Sans", "Avenir Next SemiBold", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, Times, "Times New Roman", serif;
$font-family-display:    $font-family-sans;
$font-family-monospace: "Source Code Pro", "Lucida Sans Typewriter", "Lucida Console", "Lucida Typewriter", "Monaco", monospace, monospace;
$base-font-family:       $font-family-sans;


// Breakpoints
//
// No styleguide reference.
$narrow-col: 4;
$narrow-width: 28em;
$narrow: new-breakpoint(min-width $narrow-width $narrow-col);

$mid-col: 6;
$mid-width: 38em;
$mid: new-breakpoint(min-width $mid-width $mid-col);

$wide-col: 8;
$wide-width: 50em;
$wide: new-breakpoint(min-width $wide-width $wide-col);

$huge-col: $wide-col;
$huge-width: 65em;
$huge: new-breakpoint(min-width $huge-width $huge-col);

$massive-col: $huge-col;
$massive-width: 92em;
$massive: new-breakpoint(min-width $massive-width $massive-col);


// Colour Scheme
//
// No styleguide reference.
$color-text: #555;
$color-background: #FAFAFA;

$color-orange: orange;
$color-orange-light: lighten($color-orange, 10%);
$color-orange-lighter: lighten($color-orange, 30%);
$color-orange-dark: desaturate(darken($color-orange, 5%), 10%);
$color-orange-darker: desaturate(darken($color-orange, 15%), 10%);

$color-green: #679176;
$color-green-light: #729f82;
$color-green-lighter: lighten($color-green, 30%);
$color-green-dark: #437072;
$color-green-darker: #344a3c;

$color-gray: #CCC;
$color-gray-light: lighten($color-gray, 10%);
$color-gray-lighter: lighten($color-gray, 30%);
$color-gray-dark: darken($color-gray, 10%);
$color-gray-darker: darken($color-gray, 30%);
