// Base variables
// ==============

$base-font-size: 1em;
$base-line-height: 1;

// Font Stacks
// ===========

$font-family-sans:      "Clear Sans", "Avenir Next SemiBold", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, Times, "Times New Roman", serif;
$font-family-monospace: "Lucida Sans Typewriter", "Lucida Console", "Lucida Typewriter", "Monaco", monospace;
$base-font-family:       $font-family-sans;
