@font-face {
  font-family: "Clear Sans";
  font-weight: normal;
  font-style: 100;
  font-stretch: normal;
  src: url("../fonts/ClearSans-Thin.eot");
  src: url("../fonts/ClearSans-Thin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ClearSans-Thin.woff2")      format("woff2"),
       url("../fonts/ClearSans-Thin.woff")       format("woff"),
       url("../fonts/ClearSans-Thin.ttf")        format("truetype");
}

@font-face {
  font-family: "Clear Sans";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/ClearSans-Regular.eot");
  src: url("../fonts/ClearSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ClearSans-Regular.woff2")      format("woff2"),
       url("../fonts/ClearSans-Regular.woff")       format("woff"),
       url("../fonts/ClearSans-Regular.ttf")        format("truetype");
}

@font-face {
  font-family: "Clear Sans";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/ClearSans-Italic.eot");
  src: url("../fonts/ClearSans-Italic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ClearSans-Italic.woff2")      format("woff2"),
       url("../fonts/ClearSans-Italic.woff")       format("woff"),
       url("../fonts/ClearSans-Italic.ttf")        format("truetype");
}

@font-face {
  font-family: "Clear Sans";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/ClearSans-Bold.eot");
  src: url("../fonts/ClearSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ClearSans-Bold.woff2")      format("woff2"),
       url("../fonts/ClearSans-Bold.woff")       format("woff"),
       url("../fonts/ClearSans-Bold.ttf")        format("truetype");
}
