<!DOCTYPE html>
<html id="top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Intel Crosswalk</title>
    <script>
      WebFontConfig = {
        google: {
          families: ['Source Code Pro:n4,n6'],
          text: 'webviWV'
        },
        custom: {
          families: ['Clear Sans'],
          urls: ['/css/fonts.css']
        },
        timeout: 2000
      };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" defer async></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- If the current page is an index,
         leave it alone so we can do custom markup.
         Otherwise, provide the header and nav. -->
    <% if(current.source !== 'index') { %>
      <div class="container">
        <div class="row">
          <% include _includes/nav.ejs %>
        </div>
        <div class="row">
          <%- partial(current.path.reverse()[current.path.length - 1] + "/_nest") %>
        </div>
      </div>
    <% } else { %>
      <%- yield %>
    <% } %>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <input type="email" placeholder="Add your email, learn Android development" />
          <input type="submit" value="join" />
          <ul>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="https://crosswalk-project.org/jira/secure/Dashboard.jspa">Issues</a></li>
            <li><a href="https://github.com/crosswalk-project">GitHub</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
          <small>
            Crosswalk is a project from the Intel Open Source Technology Center. Copyright © 2013–2014 Intel Corporation. All rights reserved.
            Privacy policy. *Other names and brands may be claimed as the property of others.
          </small>
      </div>
    </footer>
    <% if(service.analytics) { %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= service.analytics %>']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>
    <% if(service.prism) { %>
      <script src="/js/prism.js"></script>
    <% } %>
  </body>
</html>
