<header class="hero hero--bg1 knockout">
  <div class="container">
    <div class="row">
      <% include _includes/nav.ejs %>
      <h1 class="hero-heading">build bleeding-edge hybrid apps</h1>
    </div>
    <div class="row hero-row">
      <p>Replace Android’s default <code>WebView</code> with Crosswalk, a predictable web runtime for developing powerful Android and Cordova apps.</p>
      <!-- <p>Build native or Cordova/PhoneGap apps with bleeding-edge HTML5 features consistently: Audio API, WebGL, web fonts, <a href="#front-end">and more</a>.</p> -->
    </div>
    <div class="row">
      <div class="button-group">
        <a href="/documentation/getting-started" class="button">Get started</a>
        <a class="button-follower" href="http://twitter.com/xwalk_project">
          Follow Crosswalk on Twitter
        </a>
      </div>
    </div>
  </div>
  <div class="hero-seperator">
      <div class="container">
        <div class="row">

        <aside class="media">
          <ul class="media-list">
            <li class="media-item">
              <a class="media-link" href="/documentation/getting-started#cordova">
                <img class="media-image" src="/images/icons/logo-cordova-white.svg" alt="Apache Cordova logo" />
                <p class="media-description">
                  <strong class="media-heading">Apache Cordova compatable</strong>
                  Crosswalk includes Cordova / PhoneGap APIs
                </p>
              </a>
            </li>
            <li class="media-item">
              <a class="media-link" href="/documentation/getting-started#android">
                <img class="media-image" src="/images/icons/logo-android-white.svg" alt="Google Android logo" />
                <p class="media-description">
                  <strong class="media-heading">Android compatable</strong>
                  Use Crosswalk as your <code>WebView</code> or in-app browser
                </p>
              </a>
            </li>
            <li class="media-item">
              <a class="media-link" href="/documentation/getting-started#tizen">
                <img class="media-image" src="/images/icons/logo-tizen-white.svg" alt="Tizen logo" />
                <p class="media-description">
                  <strong class="media-heading">Tizen compatable</strong>
                  Use Crosswalk as your <code>WebView</code> or in-app browser
                </p>
              </a>
            </li>
            <li class="media-item">
              <a class="media-link" href="/documentation/getting-started#chrome">
                <img class="media-image" src="/images/icons/logo-chrome-white.svg" alt="Google Chromium logo" />
                <p class="media-description">
                  <strong class="media-heading">Build with Google Chromium</strong>
                  Crosswalk is powered by Chromium and Blink
                </p>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</header>
<main role="main" id="main" class="main">
  <div class="container">
    <div class="row">
      <div class="container-intro">
        <h2>Make the most of your <code>WebView</code></h1>
        <p>When you choose the default Android <code>WebView</code>, your users could have the latest features or be seeing the web from 2011—or anywhere else inbetween.</p>
      </div>
      <div class="cards">
        <ul class="cards-list">
          <li class="cards-item">
            <img src="/images/crosswalk-landing-withWithout-2.png" alt="The predictability Crosswalk can provide your Android or Cordova app" />
            <h3>By default</h3>
            <!-- <p>What’s a WebView? A WebView is a full-screen browser inside a native app where you can run HTML, CSS, and JavaScript. If you’re using Apache Cordova, it’s the foundation of your app. WebViews are also used as in-app browser and alongside native components.</p> -->
            <p>When you choose the default Android <code>WebView</code>, your users could have the latest features or be seeing the web from 2011—or anywhere else inbetween.</p>
          </li>
          <li class="cards-item">
            <img src="/images/crosswalk-landing-withWithout-1.png" alt="The unpredictability of Android’s default WebView" />
            <h3>Upgraded with Crosswalk</h3>
            <p>Include Intel Crosswalk with your hybrid Android or Cordova / PhoneGap app, and users will consistently see your app at its best: through a predictable, powerful WebView based on the latest version of Google Chromium.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <blockquote class="blockquote">
        <footer>
          <img src="http://placehold.it/150" alt="Ashley Scirra’s profile picture" />
          <strong>Ashley Scirra</strong>
          Creator of the Construct 2 game engine says
        </footer>
        <p>Crosswalk looks like the new, best way to publish HTML5 content to Android.</p>
      </blockquote>
    </div>
  </div>
  <!-- <div class="knockout"> -->
      <div class="container">
        <div class="row">
          <blockquote class="blockquote">
            <footer>
              <img src="/images/profiles/ashley-gullen.jpg" alt="Ashley Scirra’s profile picture" />
              <strong>Ashley Gullen</strong>
              Creator of the Construct 2 game engine says
            </footer>
            <p>Crosswalk looks like the new, best way to publish HTML5 content to Android.</p>
          </blockquote>
        </div>
      </div>
  <!-- </div> -->
  <div class="container">
    <div class="row">
      <figure>
        <!-- <iframe src="http://www.youtube.com/embed/nU4lvgTrjFI" frameborder="0" allowfullscreen="true"></iframe> -->
        <div onclick="play();" id="vidwrap" class="embed-container embed-container--overlay" style="background-image: url('//placehold.it/800x400')"></div><script type="text/javascript">function play(){document.getElementById('vidwrap').innerHTML = '<iframe src="http://www.youtube.com/embed/nU4lvgTrjFI?modestbranding=1&autoplay=1&rel=0&showinfo=0&theme=light&color=white" frameborder="0"></iframe>';}</script>
        <figcaption>Get started developing better hybrid apps with Crosswalk and this introduction from Google I/O.</figcaption>
      </figure>
    </div>
  </div>
  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-1 %>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <blockquote class="blockquote">
        <footer>
          <img src="http://placehold.it/150" alt="Amol Kher’s profile picture" />
          <strong>Amol Kher</strong>
          Former Engineer Manager at Netflix said
        </footer>
        <p>The bulk of our user interactions occur on the HTML5 front end. …we see almost around 1,000 different devices streaming Netflix on Android every day.</p>
      </blockquote>
    </div>
  </div>
  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-2 %>
    </div>
  </div>
  <div class="row row--full">
    <div class="container">
      <blockquote class="blockquote">
        <footer>
          <img src="http://placehold.it/150" alt="Luke W’s profile picture" />
          <strong>Luke Wroblewski</strong>
          Founder of LukeW Ideation &amp; Design said
        </footer>
        <p>the embedded experience might be the most common way to experience the web on smartphones.</p>
      </blockquote>
    </div>
  </div>
  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-3 %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3 class="text-center">Compatible with</h3>
      <div class="cards cards--filled">
        <ul class="cards-list">
          <li class="cards-item">
            <img class="cards-icon" src="/images/icons/logo-cordova.svg" alt="" />
            <h3 class="cards-heading">Crosswalk for Apache Cordova</h3>
            <p class="text">Improve your entire app’s wrapper by upgrading your WebView.</p>
            <a class="button button--secondary" href="https://crosswalk-project.org/#documentation/cordova">Start with Cordova</a>
          </li>
          <li class="cards-item">
            <img src="/images/icons/logo-android.svg" alt="Cordova logo" class="cards-icon" />
            <h3 class="cards-heading">Crosswalk for Android</h3>
            <p>Use Crosswalk as your WebView or in-app browser</p>
            <a class="button button--secondary" href="https://crosswalk-project.org/#documentation/getting_started/android_target_setup">Start with Android</a>
          </li>
        </ul>
      </div>
      <div class="container-intro">
        <h2>Can I use…? Yes.</h2>
        <p>Crosswalk provides a predictable and powerful environment for building great Android apps.</p>
        <a href="/documentation/getting-started" class="button">Get started</a>
      </div>
    </div>
  </div>
</main>
