<header class="hero knockout">
  <div class="hero-container container">
    <div class="row">
      <% include _includes/nav.ejs %>
      <h1 class="hero-heading">Build Hybrid Apps from the Future</h1>
      <p>Crosswalk is a replacement for Android’s default <code>WebView</code>, creating a predictable web runtime for developing powerful, hybrid apps.</p>
      <p>Build native and Cordova / PhoneGap apps with bleeding-edge HTML5 features consistently: Audio API, WebGL, web fonts, <a href="#">and more</a>.</p>
      <a href="#" class="button">Get started</a>
      <aside class="media">
        <ul class="media-list grayout">
          <li class="media-item">
            <a class="media-link" href="#">
              <img class="media-image" src="/images/icons/logo-cordova.svg" alt="Apache Cordova logo" />
              <strong class="media-heading">Apache Cordova compatable</strong>
              Crosswalk includes Cordova / PhoneGap APIs
            </a>
          </li>
          <li class="media-item">
            <a href="#" class="media-link">
              <img class="media-image" src="/images/icons/logo-android.svg" alt="Google Android logo" />
              <strong class="media-heading">Android compatable</strong>
              Use Crosswalk as your <code>WebView</code> or in-app browser
            </a>
          </li>
          <li class="media-item">
            <a href="#" class="media-link">
              <img class="media-image" src="/images/icons/logo-tizen.svg" alt="Tizen logo" />
              <strong class="media-heading">Tizen compatable</strong>
              Use Crosswalk as your <code>WebView</code> or in-app browser
            </a>
          </li>
          <li class="media-item">
            <a href="#" class="media-link">
              <img class="media-image" src="/images/icons/logo-chrome.svg" alt="Google Chromium logo" />
              <strong class="media-heading">Build with Google Chromium</strong>
              Crosswalk is powered by Chromium and Blink
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="hero-seperator">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="https://twitter.com/xwalk_project">@xwalk_project on Twitter</a>
          </li>
          <li>
            <a href="https://github.com/crosswalk-project">Crosswalk on GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main role="main" class="container">
  <div class="row cards">
    <ul class="cards-list">
      <li class="cards-item">
        <img src="/images/crosswalk-landing-withWithout-1.png" alt="The unpredictability of Android’s default WebView" />
        <h3>By default</h3>
        <!-- <p>What’s a WebView? A WebView is a full-screen browser inside a native app where you can run HTML, CSS, and JavaScript. If you’re using Apache Cordova, it’s the foundation of your app. WebViews are also used as in-app browser and alongside native components.</p> -->
        <p>When you choose the default Android <code>WebView</code>, your users could have the latest features or be seeing the web from 2011—or anywhere else inbetween.</p>
      </li>
      <li class="cards-item">
        <img src="/images/crosswalk-landing-withWithout-2.png" alt="The predictability Crosswalk can provide your Android or Cordova app" />
        <h3>Upgraded with Crosswalk</h3>
        <p>Include Intel Crosswalk with your hybrid Android or Cordova / PhoneGap app, and users will consistently see your app at its best: through a predictable, powerful WebView based on the latest version of Google Chromium.</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <blockquote class="blockquote">
      <footer>
        <img src="http://placehold.it/150" alt="Ashley Scirra’s profile picture" />
        <strong>Ashley Scirra</strong>
        Creator of the Construct 2 game engine says
      </footer>
      <p>Crosswalk looks like the new, best way to publish HTML5 content to Android.</p>
    </blockquote>
  </div>
  <div class="row">
    <% include _includes/landing-promo-1 %>
  </div>
  <div class="row">
    <blockquote class="blockquote">
      <footer>
        <img src="http://placehold.it/150" alt="Amol Kher’s profile picture" />
        <strong>Amol Kher</strong>
        Former Engineer Manager at Netflix said
      </footer>
      <p>The bulk of our user interactions occur on the HTML5 front end. …we see almost around 1,000 different devices streaming Netflix on Android every day.</p>
    </blockquote>
  </div>
  <div class="row">
    <% include _includes/landing-promo-2 %>
  </div>
  <div class="row">
    <% include _includes/landing-promo-3 %>
  </div>
  <div class="row">
    <h3>Compatible with</h3>
    <div class="cards">
      <ul class="cards-list">
        <li class="cards-item cards-item--filled">
          <img src="/images/icons/logo-cordova.svg" alt="Cordova logo" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Apache Cordova</h3>
          <p>Improve your entire app’s wrapper by upgrading your WebView.</p>
          <a class="button" href="#">Start with Cordova</a>
        </li>
        <li class="cards-item cards-item--filled">
          <img src="/images/icons/logo-cordova.svg" alt="Cordova logo" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Android</h3>
          <p>Use Crosswalk as your WebView or in-app browser</p>
          <a class="button" href="#">Start with Android</a>
        </li>
        <!-- <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Tizen</h3>
          <p>Extension ready, powered by Chromium and Blink</p>
        </li>
        <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Chrome</h3>
          <p>Extension ready, Crosswalk is powered by Chromium and Blink</p>
        </li> -->
      </ul>
    </div>
    <h2>Can I use…? Yes.</h2>
    <p>Crosswalk provides a predictable, powerful environmnet so you can build great Android apps.</p>
  </div>
</main>
