<% include _includes/redirect-hash %>
<header class="hero hero--bg1 knockout">
  <div class="container">
    <div class="row">
      <% include _includes/nav.ejs %>
    </div>
    <div class="row">
      <h1 class="hero-heading">build world class hybrid apps</h1>
    </div>
    <div class="row hero-row">
      <p>Enable the most advanced web innovations with the Crosswalk Project web runtime to develop powerful Android and Cordova apps.</p>
    </div>
    <div class="row" id="hero-button-group">
      <div class="button-group">
        <a class="button" id="main-get-started-button" href="/documentation/getting_started.html" >Get started</a>
        <a class="button" id="main-downloads-button" href="/documentation/downloads.html">Download</a><br/>
<!--    
	<br />
	<a href="/documentation/community/senchacon2015.html">
	 <div style="color:white; border:solid 1px gray; height:82px; width:480px">
	   <img src="/assets/senchacon-horiz-blue.jpg" style="height:80px;float:left;padding:5px 10px 5px 5px;" ><br/>Join the Crosswalk Project <br>at SenchaCon 2015!
	 </div>
	</a>
...
        <a class="button-follower" id="main-follow-twitter-button" href="/documentation/community/phonegapday2015.html">
          <img src="/assets/pgd-banner.jpg" width="425px"><br>
          Join us at PhoneGap Day EU 2015!
       </a>
-->
        <a href="/documentation/cordova/cordova_4.html">
          <div style="color:white;">
            &nbsp;Cordova 4.0 now supports Crosswalk pluggable webview!
          </div>
        </a>
        <a class="button-follower" id="main-follow-twitter-button" href="http://twitter.com/xwalk_project">
          <img src="/assets/Twitter_logo_white.png" width="20px" /> Follow the Crosswalk Project on Twitter
       </a>
     </div>
    </div>
  </div>
  <div class="hero-seperator">
      <div class="container">
        <div class="row">

        <aside class="media">
          <ul class="media-list">
            <li class="media-item">
              <a class="media-link" href="/documentation/cordova.html">
                <img class="media-image" src="/assets/icons/logo-cordova-white.png" alt="Apache Cordova logo" />
                <p class="media-description">
                  <strong class="media-heading">Apache Cordova compatible</strong>
                  Easily add the Crosswalk pluggable webview in your Cordova app
                </p>
              </a>
            </li>
            <li class="media-item">
              <a class="media-link" href="/documentation/android.html">
                <img class="media-image" src="/assets/icons/logo-android-white.png" alt="Google Android logo" />
                <p class="media-description">
                  <strong class="media-heading">Android compatible</strong>
                  Use the Crosswalk Project as your WebView or in-app browser
                </p>
              </a>
            </li>
            <li class="media-item">
              <a class="media-link" href="/documentation/ios.html">
                <img class="media-image" src="/assets/icons/logo-apple-white.png" alt="Tizen logo" />
                <p class="media-description">
                  <strong class="media-heading">iOS compatible</strong>
                  Use the Crosswalk Project as your WebView in your iOS mobile application
                </p>
              </a>
            </li>

<!--
            <li class="media-item">
              <a class="media-link" href="/documentation/tizen.html">
                <img class="media-image" src="/assets/icons/logo-tizen-white.png" alt="Tizen logo" />
                <p class="media-description">
                  <strong class="media-heading">Tizen compatible</strong>
                  Use the Crosswalk Project as your <code>WebView</code> or in-app browser
                </p>
              </a>
            </li>
-->
            <li class="media-item">
              <a class="media-link" href="/documentation/getting_started.html">
                <img class="media-image" src="/assets/icons/logo-chrome-white.png" alt="Google Chromium logo" />
                <p class="media-description">
                  <strong class="media-heading">Built with Google Chromium</strong>
                  The Crosswalk Project is powered by Chromium and Blink
                </p>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</header>
<main role="main" id="main" class="main">
  <div class="container">
    <div class="row row--narrow article">
      <p class="lead">No developer wants <strong>old, outdated devices</strong> to prevent them from using awesome new APIs.</p>

      <p>With the platform variations in the market you are forced to assume that every Android <code>WebView</code> works differently. There are differences in:
      <ul>
        <li>Which JavaScript APIs are available</li>
        <li>Support and syntax for CSS properties</li>
        <li>How your application's interface is rendered</li>
      </ul>
      <p>…and plenty more. You want to support as many versions of Android as possible, but it’s frustrating and time consuming.</p>
    </div>
    <div class="row">
      <img src="assets/illustrations/crosswalk-landing-variety.png" />
    </div>
  </div>
  <div class="container">
    <div class="row row--narrow article article--noLead">
      <p><strong>There’s a better way.</strong> What if the only <code>WebView</code> you had to worry about was up to date with the latest version of Google Chromium? </p>
      <p>Include <strong>the Crosswalk Project</strong> web runtime with your hybrid <strong>Android</strong> or <strong>Cordova / PhoneGap</strong> app, and users will consistently see it through a predictable, powerful <code>WebView</code> based on Google Chromium.</p>

<br>
      <h3>The Crosswalk Project Advantage:</h3>
      <ul>
        <li>Get consistent, predictable behavior by reducing Android device fragmentation.</li>
        <li>Use the latest web innovations and APIs. Provide a feature rich experience on all Android 4.0+ devices.</li>
        <li>Easily debug with Chrome DevTools.</li>
        <li>Improve the performance of your HTML, CSS, and JavaScript.</li>
      </ul>
    </div>
  </div>

  <div class="quoteArea">
    <h1 style="text-align:center">What experts say about the Crosswalk Project</h1><br>
    <div class="quoteRow">
      <div class="quoteBlock">
        <div class="quoteText">
          "Crosswalk helps Phonegap developers ensure a highly performant and consistent user experience across a wide breadth of mobile devices."
        </div>
        <div class="speakerBlock">
          <img class="speakerImg" src="/assets/testimonials/brian-leroux.jpg" /> 
          <div class="speakerTitle">
            <a href="http://brian.io/"><strong>Brian LeRoux</strong></a><br>
            Principal Scientist, Adobe Systems Canada
          </div>
        </div>
      </div>
      <div class="quoteBlock">
        <div class="quoteText">
"It’s finally possible to build hybrid apps that use a modern web view and run on almost every Android and iOS device released within the past three years."
        </div>
        <div class="speakerBlock">
          <a href="https://www.youtube.com/watch?v=nU4lvgTrjFI" style="text-decoration:none"><img class="speakerImg" src="/assets/testimonials/max-woghiren.jpg" /></a> 
          <div class="speakerTitle">
            <b>Max Woghiren</b><br>
            Software Engineer at Google
          </div>
        </div>
      </div>

    </div> 

    <div class="quoteRow">
      <div class="quoteBlock">
        <div class="quoteText">
          "The Crosswalk Project looks like the new, best way to publish HTML5 content to Android."
        </div>
        <div class="speakerBlock">
          <img class="speakerImg" src="/assets/testimonials/ashley-gullen.jpg" /> 
          <div class="speakerTitle">
            <a href="https://twitter.com/AshleyGullen"><strong>Ashley Gullen</strong></a><br>
            Creator of the Construct 2 game engine
          </div>
        </div>
      </div>
      <div class="quoteBlock">
        <div class="quoteText">
"Providing a modern Chrome webview is the key to delivering performant hybrid apps for Android, and the Crosswalk Project is the best way to do that."
        </div>
        <div class="speakerBlock">
          <img class="speakerImg" src="/assets/testimonials/steve-newcomb.jpg" /> 
          <div class="speakerTitle">
            <b>Steve Newcomb</b><br>
            CEO and Co-founder at <a href="http://famo.us">Famo.us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="quoteRow">
      <div class="quoteBlock">
        <div class="quoteText">
          "Crosswalk levels the playing field for Android developers and enables them to create performant, feature-rich apps using the web skills they know and love. We advise all Telerik Platform users to target the Crosswalk webview for an instant performance boost!"
        </div>
        <div class="speakerBlock">
          <img class="speakerImg" src="/assets/testimonials/rob-lauer.jpg" /> 
          <div class="speakerTitle">
            <a href="http://developer.telerik.com/author/rlauer/"><strong>Rob Lauer</strong></a><br>
            Principal Product Manager, <a href="http://developer.telerik.com/">Telerik</a>
          </div>
        </div>
      </div>
      <div class="quoteBlock">
        <div class="quoteText">
          "Crosswalk helps solve the fragmentation issue with Android and enables web applications to perform close to their native counterparts.  We encourage all hybrid and Intel® XDK developers to deploy their Android applications using Crosswalk."
        </div>
        <div class="speakerBlock">
          <img class="speakerImg" src="/assets/testimonials/ian-maffet-80.jpg" /> 
          <div class="speakerTitle">
            <b>Ian Maffet</b><br>
            Developer Advocate <a href="software.intel.com/en-us/intel-xdk">Intel XDK</a>, Intel.
          </div>
        </div>
      </div>
    </div>
    <div class="quoteShowMore">
      <a href="/documentation/community/testimonials.html">Show me more...</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <figure>
        <div onclick="play();" id="vidwrap" class="embed-container embed-container--overlay" style="background-image: url('/assets/illustrations/sencha-nick-video.jpg')"></div>
             <script type="text/javascript">function play(){document.getElementById('vidwrap').innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/sSYTKOy-Y_s?enablejsapi=1&modestbranding=1&autoplay=1&rel=0&showinfo=0&theme=light&color=white" frameborder="0"></iframe>';}</script>
        <figcaption>Discover how Sencha uses Crosswalk to reduce fragmentation with Android apps running in Sencha's Web Application Manager.</figcaption>
      </figure>
    </div>
  </div>
  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-1 %>
    </div>
  </div>

  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-2 %>
    </div>
  </div>

  <div class="row row--full">
    <div class="container container--full">
      <% include _includes/landing-promo-3 %>
    </div>
  </div>

  <div class="row row--full">
    <div class="tools-hp-block">
      <div class="tools-hp-title">
        <h2 style="text-align:center">Crosswalk is part of great developer tools</h2>
      </div>
      <div class="tools-hp-block-inner" id="tool-div">
      </div>
    </div>
    <script>
      $(window).load(onHomePageTools());
    </script>
  </div>

  <div class="container">
    <div class="row">
      <h3 class="text-center">Compatible with</h3>
      <div class="cards cards--filled">
        <ul class="cards-list">
          <li class="cards-item">
            <img class="cards-icon" src="/assets/icons/logo-cordova.png" alt="" />
            <h3 class="cards-heading">Crosswalk Project for Apache Cordova</h3>
            <p class="text">Improve your app's wrapper by upgrading your WebView.</p>
            <a class="button button--secondary" href="/documentation/cordova.html">Start with Cordova</a>
          </li>
          <li class="cards-item">
            <img src="/assets/icons/logo-android.png" alt="Cordova logo" class="cards-icon" />
            <h3 class="cards-heading">Crosswalk Project for Android</h3>
            <p>Use the Crosswalk Project as your WebView or in-app browser.</p>
            <a class="button button--secondary" href="/documentation/android/android_target_setup.html">Start with Android</a>
          </li>
        </ul>
      </div>
      <div class="container-intro">
        <h2>Can I use…? Yes.</h2>
        <p>The Crosswalk Project provides a predictable and powerful environment for building great Android apps.</p>
        <a href="/documentation/getting_started.html" class="button">Get started</a>
      </div>
    </div>
  </div>
</main>
