<header class="hero knockout">
  <div class="hero-container container">
    <% include _includes/nav.ejs %>
    <div class="row">
      <h1 class="hero-heading">Build Hybrid Apps from the Future</h1>
      <p>Crosswalk is a powerful <code>WebView</code> for building hybrid mobile applications on multiple versions of Android.</p>
      <p>Build better native and Cordova apps using bleeding-edge HTML5 features: Web Audio, WebGL, web fonts, <a href="#">and more</a>.</p>
      <a href="#" class="button">Get started</a>
      <aside class="callout">
        <ul class="callout-list">
          <li class="callout-item">
            <a href="#" class="callout-link">
              <strong class="callout-heading">Android compatable</strong>
              Use Crosswalk as your <code>WebView</code> or in-app browser
            </a>
          </li>
          <li class="callout-item">
            <a href="#" class="callout-link">
              <strong class="callout-heading">Tizen compatable</strong>
              Use Crosswalk as your <code>WebView</code> or in-app browser
            </a>
          </li>
          <li class="callout-item">
            <a href="#" class="callout-link">
              <strong class="callout-heading">Apache Cordova compatable</strong>
              Crosswalk includes Cordova / PhoneGap APIs
            </a>
          </li>
          <li class="callout-item">
            <a href="#" class="callout-link">
              <strong class="callout-heading">Build with Google Chromium</strong>
              Crosswalk is powered by Chromium and Blink
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="hero-seperator">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <strong>@xwalk_project on Twitter</strong>
            How to embed Crosswalk in your Android application: crosswalk-project.org/#documentation…
          </li>
          <li>
            <strong>Crosswalk on GitHub</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main role="main" class="container">
  <div class="row">
    <h2>Make the most of your WebView</h2>
    <p>What’s a WebView? A WebView is a full-screen browser inside a native app where you can run HTML, CSS, and JavaScript. If you’re using Apache Cordova, it’s the foundation of your app. WebViews are also used as in-app browser and alongside native components.</p>
    <h3>By default</h3>
    <p>When you choose the default Android <code>WebView</code>, your users could have the latest features or be seeing the web from 2011—or anywhere else inbetween.</p>
    <h3>Upgraded with Crosswalk</h3>
    <p>Include Intel Crosswalk in your app, and all your users will see your app at its best: through a predictable, powerful <code>WebView</code> based on the latest version of Google Chromium.</p>
    <blockquote class="blockquote">
      <footer>
        <img src="http://placehold.it/150" alt="Amol Kher’s profile picture" />
        <strong>Amol Kher</strong>
        Former Engineer Manager at Netflix said
      </footer>
      <p>The bulk of our user interactions occur on the HTML5 front end. …we see almost around 1,000 different devices streaming Netflix on Android every day.</p>
    </blockquote>
    <h2>Which <code>WebView</code> are you choosing?</h2>
    <p>Stop choosing a fragmented development enivronment. Over 1.3 million Android device are activated every, each with an slightly different interpretation of the web.</p>
    <p>It’s impossible to imagine and painful to test how your native hybrid app will render or perform in every situation if you’ve chosen the default Android <code>WebView</code>.</p>
    <h4>Use Crosswalk and build great interfaces</h4>
    <p>Crosswalk fully support properties that are otherwise unpredictable, like position: fixed, and brand new ones that makes this even easier, like position: sticky. (TODO)</p>
    <h4>Use Device APIs, with or without Cordova</h4>
    <p>Whether your using Cordova or not, the Crosswalk supports the Geolocation API, the File API, the vibraton API and more.</p>
    <h4>Use Flexbox today, even on old versions of Android</h4>
    <p>Reliably build responsive user interfaces with Flexbox. Your app will render it properly on any Android 4.0+ device when Crosswalk is included.</p>
    <h3>Which <code>WebView</code> are you using?</h3>
    <table>
      <thead>
        <tr>
          <td>HTML5 feature</td>
          <td>Android <code>WebView</code></td>
          <td>Crosswalk <code>WebView</code></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>WebRTC</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>WebGL</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vibration <abbr>API</abbr></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Presentation <abbr>API</abbr></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><code>WebView</code> updates</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="button">Get started</a>
    <figure>
      <img src="http://placehold.it/400x800" />
    </figure>
    <h3>Compatible with</h3>
    <div class="cards">
      <ul class="cards-list">
        <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Tizen</h3>
          <p>Extension ready, powered by Chromium and Blink</p>
        </li>
        <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Apache Cordova</h3>
          <p>Improve your entire app’s wrapper by upgrading your WebView.</p>
        </li>
        <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Android</h3>
          <p>Use Crosswalk as your WebView or in-app browser</p>
        </li>
        <li class="cards-item">
          <img src="http://placehold.it/150" alt="" class="cards-icon" />
          <h3 class="cards-heading">Crosswalk for Chrome</h3>
          <p>Extension ready, Crosswalk is powered by Chromium and Blink</p>
        </li>
      </ul>
    </div>
    <h2>Can I use…? Yes.</h2>
    <p>Crosswalk provides a predictable, powerful environmnet so you can build great Android apps.</p>
  </div>
</main>
