<a lang="en" href="http://twitter.com/<%= social.twitter %>" class="article-promo well">
  <h4 class="article-promoTitle">Get more hybrid app secrets</h4>
  <p>Build powerful hybrid apps for Android or Cordova / PhoneGap more reliably with <span class="a-faux">tips from the Intel Crosswalk team</span>.</p>
</a>
<a lang="zh" href="http://weibo.com/<%= social.weibo %>" class="article-promo well">
  <h4 class="article-promoTitle">获取更多hybrid应用的秘密</h4>
  <p>使用来自<span class="a-faux">英特尔Crosswalk团队的技巧</span>，为Android或Cordova / PhoneGap构建强大的hybrid应用</p>
</a>
