<a href="http://weibo.com/crosswalk" class="article-promo well">
  <h4 class="article-promoTitle">探索更多关于hybrid应用的奥秘！</h4>
  <p> <span class="a-faux">通过Intel Crosswalk团队提供的技巧，更可靠地为Android或者Cordova / PhoneGap构建强劲的混合应用。</p>
</a>
