<a href="http://twitter.com/<%= social.twitter %>" class="article-promo well">
  <h4 class="article-promoTitle">Get more hybrid app secrets</h4>
  <p>Build powerful hybrid apps for Android or Cordova / PhoneGap more reliably with <span class="a-faux">tips from the Intel Crosswalk team</span>.</p>
</a>
