<% var subpages = public.documentation[current.path[1]] %>
<% if(typeof subpages === 'object') { %>
  <% var next = false %>
  <% for(var slug in subpages._data) { %>
    <% var item = subpages._data[slug] %>
    <% if(slug === current.source) { %>
      <% var next = true %>
    <% } else if(next === true) { %>
      <% next = false %>
      <a href="/documentation/<%= current.path[1] %>/<%= slug %>.html" class="article-promo well">
        <em>What’s next?</em>
        <h3><%= item.title %></h3>
      </a>
    <% } %>
  <% } %>
<% } %>
