<nav class="navbar">
  <div class="navbar-logo">
    <img src="http://placehold.it/300x75" alt="Intel Crosswalk" />
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#" class="nav-link">Contribute</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Documentation</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Blog</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Featured</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"><strong>Get Started</strong></a>
    </li>
  </ul>
</nav>
