

  <% if(current.path.length === 1 && current.source === 'index') { %>
<nav class="nav">
  <a href="/" class="nav-logo logo">
    <img src="/assets/identity/crosswalkproject-logo-horizontal-light.png" class="logo-image">
  </a>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/documentation/getting_started.html" class="nav-link">Documentation</a>
    </li>
    <li class="nav-item">
      <a href="/blog" class="nav-link">Blog</a>
    </li>
    <li class="nav-item">
      <a href="/contribute" class="nav-link">Contribute</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/crosswalk-project/crosswalk-website/wiki" class="nav-link">Wiki</a>
    </li>
    <li class="nav-item">
      <a href="/documentation/about/faq.html" class="nav-link">FAQ</a>
    </li>
    <li class="nav-item">
      <a href="/documentation" class="nav-link button button--tertiary" id="getting-started-nav">Get&nbsp;Started</a>
    </li>
  </ul>
</nav>

  <% /* -------- nav area for documentation pages ---------- */
     } else { %>

  <div class="doc-logo-div">
     <a href="/" class="doc-logo-link">
       <img src="/assets/identity/crosswalkproject-logo-horizontal-dark.png" class="doc-logo-img">
     </a>
  </div>
  <div class="doc-nav-div">
    <ul class="doc-nav-list">
      <li class="doc-nav-item">
        <a href="/documentation/getting_started.html" class="doc-nav-link">Documentation</a>
      </li>
      <li class="doc-nav-item">
        <a href="/blog" class="doc-nav-link">Blog</a>
      </li>
      <li class="doc-nav-item">
        <a href="/contribute" class="doc-nav-link">Contribute</a>
      </li>
      <li class="doc-nav-item">
        <a href="https://github.com/crosswalk-project/crosswalk-website/wiki" class="doc-nav-link">Wiki</a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="/documentation/about/faq.html" class="doc-nav-link">FAQ</a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="/documentation/getting_started.html" class="doc-nav-link" style="border:1px solid #ec543b;padding:8px;color:#ec543b;" >get started</a>
      </li>
    </ul>
  </div>
  <% } %>
