<nav class="nav">
  <a href="#" class="nav-logo logo">
    <img src="/images/crosswalk-logo-white.svg" class="logo-image">
  </a>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#" class="nav-link">Contribute</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Documentation</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Blog</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Featured</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"><strong>Get Started</strong></a>
    </li>
  </ul>
</nav>
