<div>
  <img src="http://placehold.it/300x75" alt="Intel Crosswalk" />
</div>
<div class="">
  <nav>
    <ul>
      <li><a href="#">Contribute</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Featured</a></li>
      <li><a href="#">Get Started</a></li>
    </ul>
  </nav>
</div>
