

  <% if(current.path.length === 1 && current.source === 'index_zh') { %>
<nav class="nav">
  <a href="/index_zh" class="nav-logo logo">
    <img src="/assets/identity/crosswalkproject-logo-horizontal-light.png" class="logo-image">
  </a>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/documentation/getting_started_zh.html" class="nav-link">文档</a>
    </li>
    <li class="nav-item">
      <a href="/blog/index_zh" class="nav-link">博客</a>
    </li>
    <li class="nav-item">
      <a href="/contribute/index_zh" class="nav-link">贡献</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/crosswalk-project/crosswalk-website/wiki" class="nav-link">Wiki</a>
    </li>
    <li class="nav-item">
      <a href="/documentation/about/faq_zh.html" class="nav-link">常见问题回答</a>
    </li>
    <li class="nav-item">
      <a href="/documentation/getting_started_zh.html" class="nav-link button button--tertiary" id="getting-started-nav">开始</a>
    </li>
    <li class="nav-item">
        <div class="dropdown-nav-item">
           <button id="languageButton" onclick="toggleLanguageDropdown()">中文版</button>
           <div id="languageDropdown" class="dropdown-content">
               <a onclick="switchLanguage('English')">English</a>
               <a onclick="switchLanguage('Chinese')">中文版</a>
           </div>
        </div>
     </li>
  </ul>
</nav>

  <% /* -------- nav area for documentation pages ---------- */
     } else { %>

  <div class="doc-logo-div">
     <a href="/index_zh" class="doc-logo-link">
       <img src="/assets/identity/crosswalkproject-logo-horizontal-dark.png" class="doc-logo-img">
     </a>
  </div>
  <div class="doc-nav-div">
    <ul class="doc-nav-list">
      <li class="doc-nav-item">
        <a href="/documentation/getting_started_zh.html" class="doc-nav-link">文档</a>
      </li>
      <li class="doc-nav-item">
        <a href="/blog/index_zh" class="doc-nav-link">博客</a>
      </li>
      <li class="doc-nav-item">
        <a href="/contribute/index_zh" class="doc-nav-link">贡献</a>
      </li>
      <li class="doc-nav-item">
        <a href="https://github.com/crosswalk-project/crosswalk-website/wiki" class="doc-nav-link">Wiki</a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="/documentation/about/faq_zh.html" class="doc-nav-link">常见问题</a>
      </li>
      <li class="doc-nav-item hide-on-small">
        <a href="/documentation/getting_started_zh.html" class="doc-nav-link" style="border:1px solid #ec543b;padding:8px;color:#ec543b;" >开始</a>
      </li>
      <li class="doc-nav-item">
        <div>
           <button id="languageButton" onclick="toggleLanguageDropdown()">中文版</button>
           <div id="languageDropdown" class="dropdown-content">
               <a onclick="switchLanguage('English')">English</a>
               <a onclick="switchLanguage('Chinese')">中文版</a>
           </div>
        </div>
      </li>
    </ul>
  </div>
  <% } %>
