<div class="container">
  <div class="row">
    <% include ../_includes/nav.ejs %>
  </div>
  <div class="row">
    <article class="article">
      <header class="article-header">
        <h1 class="article-title">Featured apps</h1>
      </header>
      <p>There’s nothing here right now, but hopefully this can become a gallery of apps and projects using Crosswalk.</p>
    </article>
  </div>
</div>
