// Styles for the application submit form view
//

// Preview app.  Most styles for the preview cube are in  _applist.scss
#appSubmitPvw {
  position: absolute;
  top:  125px;
  left: 490px;
  width: 170px; 
}

.appDisplayPvw .appPreviewLabel {
  text-align: center;
  color: #000; //#ee453a;
  font-size: 14px;
  font-weight:bold;
}

// Styles for Form

form.appSubmitForm {
  border: 1px solid #b2b2b2;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  position: relative;
  margin: 20px auto;

  background-color: #f5f5f5;
  font-family: Verdana, Arial,Helvetica, sans-serif;
}

form.appSubmitForm fieldset.appSubmitMain {
  border: 0;
  border-top: 1px solid #000;
  margin: 15px 15px 0px 15px;
  padding-bottom: 5px;
}

form.appSubmitForm fieldset.appSubmitAgreement {
  border: 0;
  border-top: 1px solid #000;
  margin: 15px 15px 0px 15px;
  padding: 10px 25px 20px 25px;
}

form.appSubmitForm legend {
  color: #000; //#ee453a;  // Crosswalk red
  padding: 2px;
  font-weight:bold;
  font-size: 14px;
}

form.appSubmitForm p {
  padding: 7px 0px;
  clear:both;
  font-size: 10pt;
}

form.appSubmitForm label {
  width: 160px;
  height: 27px;
  margin: 0px 5px 0px 0px;
  padding: 5px 3px 3px 3px;

  float: left;
  text-align: right;
  font-weight: normal;
}

form.appSubmitForm label.rqdLabel {
  margin: 0px;
  padding: 0px;
  text-align: left;                             
  font-style:italic;
}

form.appSubmitForm label.left,
form.appSubmitForm label.arch { 
  text-align: left;
}

form.appSubmitForm label.arch {
  width: 60px;  
}

form.appSubmitForm input,textarea {
  width: 250px;
  height: 27px;
  margin: 0px;
  padding: 0px 3px 0px 3px;

  border: 1px solid #E1E1E1;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  transition: box-shadow 0.2s, border 0.2s;

  color: #505050;
  float: left;
}

form.appSubmitForm input.url { 
  width: 430px;
}

form.appSubmitForm input[type=file] {
  border: 0px;
}

div.ui-datepicker {
 font-size: 12px;
}

form.appSubmitForm input.size {
  width: 45px;
  text-align: right;
}

form.appSubmitForm input[type=checkbox] {
  width:14px;
  margin-top: 2px;
}

form.appSubmitForm select {
  margin: 0px;
  height: 27px;
  float:left;
}

form.appSubmitForm textarea {
  padding-top: 5px;
  height: 46px;
}

form.appSubmitForm input:focus, select:focus, textarea:focus {
  background-color: #f1fafd; //light blue
  border: solid 1px #707070;
  box-shadow: 0 0 3px 1px #969696;
}

form.appSubmitForm input:invalid, input:focus:invalid {
  //-moz-box-shadow: none;
  //border: 1px solid red;
}

p.appAccept label {
  width:70%;
  text-align:left;
}

.appSubmitBtn {
  border: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

  margin-top: -5px;
  padding: 8px 10px 8px;
  float:left;

  //background: #9999FF;
  cursor: pointer;
  font-size:18px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

//----- Style for spam/bot-catching hidden form field "Title" -----
.ignoreMe { 
  position: fixed !important;
  top: -5000px !important;
}

//------Style for terms and conditions dialog ---------
.appTermsDlgTitle { 
  font-size: 14px;
}
.appTermsDlg { 
  font-size: 13px;
  background-color: #f5f5f5;
  font-family: Verdana, Arial,Helvetica, sans-serif;
  width: 800px;
  color: red;
}

// -- Styles for results page divs -----

#appResultDiv {
  display: none;
}
#appSubmitResultDiv {
  border: 1px solid #b2b2b2;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
}
#appSubmitResult {
  display: inline-block;
}
