.article,
.article-list {
  @include media($wide) {
    // font-size: modular-scale($base-font-size, 0, $base-ratio);
    @include span-columns(6 of 6);
  }
  @include media($huge) {
    @include span-columns(4 of 6);
  }
}

.article {
  .article-title {
    margin-top: 0;
    @include media($huge) {
      @include span-columns(6 of 5);
    }
  }
}

// Lead
//
// No styleguide reference.
.lead,
.article > p:first-of-type {
  @include media($mid) {
    margin-bottom: modular-scale($base-font-size, -4, $base-ratio);
    font-size: modular-scale($base-font-size, 2, $base-ratio);
    line-height: $base-line-height;
  }
}


.article-list {

}

.article-item {

}

.article-header {

}

.article-title {
  text-align: left;

}

.article-meta {
  display: block;
  font-style: italic;
  margin-bottom: modular-scale($base-font-size, -2, $base-ratio);
}

.article-exerpt {

}

.article-hero {
  margin-top: modular-scale($base-font-size, 0, $base-ratio);
  margin-bottom: modular-scale($base-font-size, 0, $base-ratio);
  @include media($wide) {
    display: block;
    margin-top: modular-scale($base-font-size, 4, $base-ratio);
    margin-bottom: modular-scale($base-font-size, 4, $base-ratio);
  }
  @include media($huge) {
    min-width: inherit;
    max-width: inherit;
    @include shift(-1);
    @include span-columns(6 of 4);

  }
}

.article-promo {
  display: block;
  margin-top: modular-scale($base-font-size, 4, $base-ratio);
  text-shadow: none;
  color: $color-text;
  border: 1px solid $color-gray-dark;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-shadow: none;
    color: $color-text;
  }
  @include media($wide) {
    @include span-columns(4 of 6);
    @include shift(1);
  }
  @include media($massive) {
    margin-top: -1 * modular-scale($base-font-size, 14, $base-ratio);
    @include span-columns(4 of 6);
    @include shift(6);
    padding: modular-scale($base-font-size, 2, $base-ratio);
  }
}
