// Standard Hero
//
// A prominent header section, usually the main focus of a page.
//
// Markup:
// <header class="hero {$modifiers}">
//   <div class="container">
//     <div class="row hero-content">
//       <h1 class="hero-heading">Build Hybrid Apps from the Future</h1>
//       <p>Crosswalk is a powerful <code>WebView</code> for building hybrid mobile applications on multiple versions of Android.</p>
//       <a href="#" class="button">Get started</a>
//     </div>
//   </div>
// </header>
//
// .knockout  - Inverted hero section
// .hero--bg1 - Coffee and game background
//
// Styleguide 3.4.1.
.hero {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: fill;
  @include media($wide) {
    margin-bottom: modular-scale($base-font-size, 6, $base-ratio);
  }
}

.hero--bg1,
.knockout.hero--bg1 {
  background-image: url("/images/crosswalk-landing-banner-1.jpg");
  background-color: #000;
  background-position: 66% top;
  @include media($wide) {
    background-position: center top;
  }
}

// Container
//
// The inner wrapper for a hero section.
// Allows the content to be moved in relation to the
// background image.
//
// No styleguide reference.
.hero-row {
  margin-top: 0;
  margin-bottom: modular-scale($base-font-size, 5, $base-ratio);
  @include media($mid) {
    @include shift(0);
    @include span-columns(4 of 6);
  }
  @include media($wide) {
    @include shift(1 of 8);
    @include span-columns(5 of 8);
  }
  @include media($huge) {
    @include shift(1);
    @include span-columns(4 of 8);
  }
  .button {
    margin-top: modular-scale($base-font-size, 2, $base-ratio);
  }
}

// Heading
//
// The primary title of a hero section.
//
// No styleguide reference.
.hero-heading {
  text-transform: lowercase;
  margin-top: -2em;
  display: block;
  width: 100%;
  @include span-columns(3);
  @include media($narrow) {
    @include span-columns(3);
  }
  @include media($mid) {
    margin-top: 0;
    font-size: modular-scale($base-font-size, 7, $base-ratio);
  }
  @include media($huge-width * 1.5) {
    @include shift(-1 of 6);
    font-size: modular-scale($base-font-size, 9, $base-ratio);
    @include span-columns(6 of 6);
  }
}

// Hero seperator
//
// A seperator inbetween, or a prefix or suffix to hero sections.
//
// Markup:
// <div class="hero-seperator">
//   <div class="hero-container container">Additional information</div>
// </div>
//
// Styleguide 3.4.3.
.hero-seperator {
  background: $color-green-lighter;
  color: $color-text;
  text-shadow: 0 1px 0 rgba($color-background, 0.5);
  ul, ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .media-list {
    z-index: 1;
    position: relative;
  }
  .media-link {
    display: block;
    @include media($wide) {
      opacity: 0.66;
      img,
      svg {
        opacity: 0.66;
      }
      &:hover {
        opacity: 1.0;
      }

    }
  }
  @include media($mid) {
    .media-list {
      font-size: modular-scale($base-font-size, -1, $base-ratio);
      @include span-columns(6 of 6);
      @include shift(0);
    }
    .media-item {
      @include span-columns(3 of 6);
      @include omega(2n);
    }
  }
  @include media($wide) {
    .media-list {
      @include span-columns(6 of 6);
      @include shift(0);
    }
  }
  @include media($huge) {
    .media-list {
      @include span-columns(8 of 6);
      @include shift(-1 of 6);
    }
    .media-item {
      @include omega-reset(2n, 8);
      @include span-columns(2 of 8);
      @include omega(4n);
    }
  }
}
