// A prominent header section, usually the main focus of a page.
//
// Styleguide 3.2.1.
.hero {

}

// The inner wrapper for a hero section.
//
// Styleguide 3.2.2.
.hero-container {

}

// The primary title of a hero section.
//
// Styleguide 3.2.3.
.hero-heading {

}

// A seperator inbetween, or a prefix or suffix to hero sections.
//
// Styleguide 3.2.4.
.hero-seperator {

}
