// Standard Hero
//
// A prominent header section, usually the main focus of a page.
//
// Markup:
// <header class="hero {$modifiers}">
//   <div class="container">
//     <div class="row">
//       <h1 class="hero-heading">Build Hybrid Apps from the Future</h1>
//     </div>
//     <div class="row hero-row">
//       <p>Crosswalk is a powerful <code>WebView</code> for building hybrid mobile applications on multiple versions of Android.</p>
//       <a href="#" class="button">Get started</a>
//     </div>
//   </div>
// </header>
//
// .knockout           - Inverted hero section
// .hero--bg1.knockout - Coffee and game background
//
// Styleguide 3.4.1.
.hero {
  background-repeat: no-repeat;
  background-position: center top;
  line-height: 1.2;
  @include media($wide) {
    margin-bottom: modular-scale($base-font-size, 6, $base-ratio);
    .button-group {
      margin-top: modular-scale($base-font-size, 4, $base-ratio);
    }
  }
}

.hero--bg1,
.knockout.hero--bg1 {
  background-image: url("/images/crosswalk-landing-banner-1.jpg");
  background-color: #000;
  background-position: center top;
  background-size: cover;
  @include media($massive) {
    background-position: 75% top;
    background-size: contain;
  }
}

// Container
//
// The inner wrapper for a hero section.
// Allows the content to be moved in relation to the
// background image.
//
// No styleguide reference.
.hero-row {
  margin-top: 0;
  margin-bottom: modular-scale($base-font-size, 5, $base-ratio);
  @include media($mid) {
    @include shift(0);
    @include span-columns(4 of 6);
  }
  @include media($wide) {
    @include shift(1 of 8);
    @include span-columns(5 of 8);
  }
  @include media($huge) {
    @include shift(1);
    @include span-columns(4 of 8);
  }
}

// Heading
//
// The primary title of a hero section.
//
// No styleguide reference.
.hero-heading {
  text-transform: lowercase;
  margin-top: -2em;
  display: block;
  width: 100%;
  @include span-columns(3);
  @include media($narrow) {
    @include span-columns(3);
  }
  @include media($mid) {
    margin-top: 0;
    font-size: modular-scale($base-font-size, 7, $base-ratio);
  }
  @include media($huge-width * 1.5) {
    @include shift(-1 of 6);
    font-size: modular-scale($base-font-size, 9, $base-ratio);
    @include span-columns(6 of 6);
  }
}

// Hero seperator
//
// A seperator inbetween, or a prefix or suffix to hero sections.
//
// Markup:
// <div class="hero-seperator">
//   <div class="container">
//     <div class="row">
//       <aside class="media">
//         <ul class="media-list">
//           <li class="media-item">
//             <a class="media-link" href="#">
//               <img class="media-image" src="/images/icons/logo-cordova.svg" alt="Apache Cordova logo" />
//               <p class="media-description">
//                 <strong class="media-heading">Apache Cordova compatable</strong>
//                 Crosswalk includes Cordova / PhoneGap APIs
//               </p>
//             </a>
//           </li>
//           <li class="media-item">
//             <a class="media-link" href="#">
//               <img class="media-image" src="/images/icons/logo-cordova.svg" alt="Apache Cordova logo" />
//               <p class="media-description">
//                 <strong class="media-heading">Apache Cordova compatable</strong>
//                 Crosswalk includes Cordova / PhoneGap APIs
//               </p>
//             </a>
//           </li>
//         </ul>
//       </aside>
//     </div>
//   </div>
// </div>
//
// Styleguide 3.4.3.
.hero-seperator {
  background: $color-green-lighter;
  color: $color-text;
  text-shadow: 0 1px 0 rgba($color-background, 0.5);
  ul, ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .media-list {
    z-index: 1;
    position: relative;
  }
  .media-link {
    display: block;
    @include media($wide) {
      opacity: 0.66;
      img,
      svg {
        opacity: 0.66;
      }
      &:hover {
        opacity: 1.0;
      }

    }
  }
  @include media($mid) {
    .media-list {
      font-size: modular-scale($base-font-size, -1, $base-ratio);
      @include span-columns(6 of 6);
      @include shift(0);
    }
    .media-item {
      @include span-columns(3 of 6);
      @include omega(2n);
    }
  }
  @include media($wide) {
    .media-list {
      @include span-columns(6 of 6);
      @include shift(0);
    }
  }
  @include media($huge) {
    .media-list {
      @include span-columns(8 of 6);
      @include shift(-1 of 6);
    }
    .media-item {
      @include omega-reset(2n, 8);
      @include span-columns(2 of 8);
      @include omega(4n);
    }
  }
}
