// Knockout
//
// For sections with light text on dark backgrounds
//
// :hover  -
// :focus  -
// :active -
//
// Styleguide 3.7.1.
.knockout {
  background-color: $color-text;
  color: $color-background;
  a,
  a:visited,
  .a-faux {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5), -1px 1px 0 rgba(0,0,0,0.5);
    &:hover,
    &:focus {

    }
    &:active {

    }
  }
}

// Grayout
//
// For sections with regular text on grey backgrounds.
// Kind of like Bootstrap’s “Well.”
//
// :hover  -
// :active -
// :focus  -
//
// Styleguide 3.7.2.
.grayout {
  background-color: $color-gray;
  a,
  a:visited,
  .a-faux {
    text-shadow: none;
    &:hover,
    &:focus {

    }
    &:active {

    }
  }
}
