// Nav
//
// Styleguide 3.7.1.
.nav {
  a,
  a:visited,
  .a-faux {
    // text-shadow: none;
    background-image: none;
  }
}

.nav-list {
  list-style-type: none;
  margin-left: 0;
  display: block;

  // Possibly move to _layout.scss
  // @include span-columns(2);
  @include media($mid) {
    @include span-columns(2);
  }
  @include media($wide) {
    @include span-columns(5);
  }
}

.nav-item {
  display: block;

}

.nav-link {
  display: block;

}

// Nav logo
//
// Styleguide 3.7.2.
.nav-logo {
  padding-top: modular-scale($base-font-size, 1, $base-ratio);
  padding-bottom: modular-scale($base-font-size, 1, $base-ratio);

  // Possibly to move to _layout.scss
  // This is not ideal in the context of .row vs .row--narrow
  @include span-columns(4);
  .logo-image {
    @include span-columns(2);
  }
  @include media($mid) {
    @include span-columns(3);
    .logo-image {
      width: 100%;
    }
  }
  @include media($wide) {
    @include span-columns(3);
  }
  @include media($huge) {
    @include span-columns(2);
  }
}
