// Nav
//
// Styleguide 3.7.1.
.nav {
  a,
  a:visited,
  .a-faux {
    background-image: none;
  }
  @include media($wide) {
    // Break out of .row at wide size
    @include span-columns(7 of 6);
  }
}

.nav-list {
  list-style-type: none;
  margin-left: 0;
  display: block;
  text-align: right;
  font-size: modular-scale($base-font-size, -1, $base-ratio);
  @include span-columns(2);
  @include media($mid) {
    @include span-columns(4 of 6);
  }
  @include media($wide) {
    font-size: modular-scale($base-font-size, -1, $base-ratio);
    @include shift(0);
    @include span-columns(5 of 7);
  }
}

.nav-item {
  display: block;
  margin-left: 0;
  @include media($wide) {
    display: inline-block;
  }
}

.nav-link {
  display: block;
  padding: modular-scale($base-font-size, -8, $base-ratio) 0;
  @include media($mid) {
    display: inline-block;
    float: left;
    font-size: modular-scale($base-font-size, -1, $base-ratio);
    padding: modular-scale($base-font-size, -1, $base-ratio) modular-scale($base-font-size, -4, $base-ratio);
  }
  @include media($huge) {
    font-size: modular-scale($base-font-size, 0, $base-ratio);
    padding: modular-scale($base-font-size, 0, $base-ratio) modular-scale($base-font-size, 0, $base-ratio);
  }
}

// Nav logo
//
// Styleguide 3.7.2.
.nav-logo {
  padding-top: modular-scale($base-font-size, 1, $base-ratio);
  padding-bottom: modular-scale($base-font-size, 1, $base-ratio);
  @include span-columns(2);
  .logo-image {
    width: 100%;
  }
  @include media($mid) {
    @include span-columns(2);
  }
  @include media($wide) {
    // .nav is 7 columns when wide
    @include span-columns(2 of 7);
  }
}
