// This document has the styles for 2 pages that have
// testimonials:  the section on the home page "What experts say about the Crosswalk Project"
// and the testimonial page, located under documentation/community/testimonials.md
//
// Styles for testimonials section of home page
//
// Show 4-6 quotes, with picture and title below
//
// Markup:
//  <div class="quoteArea">
//    <h1 style="text-align:center">Title</h1>
//      <div class="quoteRow">
//        <div class="quoteBlock">
//          <div class="quoteText">
//          "The quote"
//          </div>
//          <div class="speakerBlock">
//            <img class="speakerImg" src="face-img1.jpg" /> 
//            <div class="speakerTitle">
//              <b>Gordon Langford</b><br>
//              Software Guru, Calefornia Inc.
//            </div>
//          </div>
//        </div>
//        <div class="quoteBlock">
//          ...repeat

.quoteArea {
  background-color: #F0F0F0;
  padding: 30px 50px 30px 50px;
  margin: 20px 0px 20px 0px;
} 
.quoteRow {
  //border: solid orange 1px;
}
.quoteBlock {
  //border: solid green 2px;
  margin: 30px 0px 30px 0px;
  overflow: hidden;

  @include media($wide) {
    display: table-cell;
    width: 50%;
  }
}

.quoteText {
  //border: solid red 1px;
  vertical-align: top;
  font-style: italic;
  margin: 10px 20px 10px 20px;
}
.speakerBlock {
  //border: solid black 1px;
  margin: 10px 20px 10px 20px;
  overflow: hidden;
  display: table;
}    
.speakerImg {
  //border: 1px solid red;
  display: table-cell; 
  border-radius: 10px;
  width: 80px;
}
.speakerTitle {   
  //border: solid green 1px;
  display: table-cell; 
  vertical-align: middle;
  padding-left: 20px;
}
.quoteShowMore {
  //border: solid green 1px;
  padding-right: 10px;
  text-align: right;
}

// Styles for testimonial page
//

.t-block {
    //border: solid blue 1px;
    overflow: hidden;
    display: table; 
    padding: 0px 0px 20px 0px;
}    
.t-cube {
    //border: 1px solid red;
    display: table-cell; 
    vertical-align: middle;  /*vert align*/
    text-align: center;      /*horz align*/
    line-height: 1.1;
    padding: 10px 0px 10px 0px;

    width: 150px;
    height: 120px;
    font-size: $base-font-size * 0.85;

    @include media($mid) {
        width: 250px;
        height: 120px;
        font-size: $base-font-size * 1.0;
    }
}

.t-img {
    width: 60px;
    border-radius: 5px;

    @include media($mid) {
        width: 80px;
        border-radius: 10px;
    }
    @include media($huge) {
        width: 100px;
        border-radius: 10px;
    }
}

.t-title {
    //font-size: 10px;
    font-size: $base-font-size * 0.85;
}

.t-quote {   
    //border: solid green 1px;
    display: table-cell; 
    vertical-align: top;
    font-style: italic;

    font-size: $base-font-size * 0.80;
    padding: 5px 0px 5px 0px;

    @include media($mid) {
        font-size: $base-font-size * 1.0;
        padding: 20px 0px 20px 0px;
    }
}

.t-date {
    font-style: normal;
    padding: 10px 0px 0px 0px;
    color: gray;
}
.t-logo {
    vertical-align: 'middle';
    height: 30px;    
}
