<%
   var object = public.content._data;
   var lang = (current.source.lastIndexOf("_zh") > 0 ? "zh": "en");
   function endsWith(str, suffix) {
      if(str.length > suffix.length) {
         return str.indexOf(suffix, str.length - suffix.length) !== -1;
      } else {
         return 0;
      }
   }
   function languageDetect(entry, article) {
      if (endsWith(entry, "_zh")) {
        article.language = "zh";
      } else {
        article.language = "en";
      }
   }
%>
<nav id="contents" class="article-toc nav-toggleContainer">
  <a href="#contents" id="contents-toggle" class="button button--small button--tertiary nav-toggle">Table of Contents</a>
  <a href="#contents-toggle" class="button button--small button--tertiary nav-toggle--dummy">Table of Contents</a>
  <ul class="article-list nav-toggleHide">
    <% for(var slug in public.contribute._data) { %>
      <% var article = public.contribute._data[slug]; %>
      <% languageDetect(slug, article); %>
      <% if(article.language == lang) { %>
         <li class="article-item <%= current.source === slug.toLowerCase() ? ' nav-item--active' : '' %>">
            <a href="/contribute/<%= slug ? slug.toLowerCase() + '.html' : 'index.html' %>"><%= article.title %></a>
         </li>
      <% } %>
    <% } %>
  </ul>
</nav>
<article class="article article--withSide">
  <%- yield %>
  <footer class="article-next">
    <% include ../_includes/documentation-next %>
  </footer>
</article>

