<div class="container">
  <div class="row">
    <% include ../_includes/nav.ejs %>
  </div>
  <div class="row">
    <nav id="contents" class="article-toc nav-toggleContainer">
      <a href="#contents" id="contents-toggle" class="button button--small button--tertiary nav-toggle">Table of Contents</a>
      <a href="#contents-toggle" class="button button--small button--tertiary nav-toggle--dummy">Table of Contents</a>
      <ul class="article-list nav-toggleHide">
        <% for(var slug in public.contribute._data) { %>
          <% var article = public.contribute._data[slug] %>
          <li class="article-item <%= current.source === slug.toLowerCase() ? ' nav-item--active' : '' %>">
            <a href="/contribute/<%= slug ? slug.toLowerCase() + '.html' : '' %>"><%= article.title %></a>
          </li>
        <% } %>
      </ul>
    </nav>
    <article class="article article--withSide">
      <%- partial("_overview") %>
      <footer class="article-next">
      </footer>
    </article>
  </div>
</div>
