<%- partial("../_includes/redirect-static", {
  url: "/documentation/getting_started"
}) %>


<div class="container">
  <div class="row">
    <% include ../_includes/nav.ejs %>
  </div>
  <div class="row">
    <% include ../_includes/documentation-nav %>
    <article class="article article--hasToC">
      <header class="article-header">
        <h1 class="article-title">Getting started</h1>
      </header>
      <p>If you are a developer working with web technologies, Crosswalk enables you to deploy a web application with its own dedicated runtime. This means three things:</p>
      <p>With Crosswalk, developers working with web technologies don’t have to worry about breaking whatever ancient <code>WebView</code> or browsers their audience is using.</p>
      <h3>Supported platforms</h3>
      <p>Your app will have the Crosswalk WebView in place of the unpredictable device default. Crosswalk is great for:</p>
      <ul>
        <li>
          <a href="#cordova">
            <strong>Apache Cordova</strong> apps, providing a consistent environment for your HTML, CSS, and JavaScript on Android
          </a>
        </li>
        <li>
          <a href="#android">
            <strong>Hybrid Android apps</strong>, where the Crosswalk WebView will take the place of the unpredictable device default.
          </a>
        </li>
        <li>
          <a href="#android">
            <strong>Native Android apps</strong>, where the Crosswalk WebView can use used as the in-app browser.
          </a>
        </li>
        <li>
          <a href="#chrome">
            <strong>Google Chrome extensions</strong> for mobile]
          </a>
        </li>
        <li>
          <a href="#tizen">
            <strong>Tizen apps</strong>
          </a>
        </li>
      </ul>
      <section id="cordova">
        <h2><img src="/assets/icons/logo-cordova.svg" class="icon" />Apache Cordova</h2>
        <a class="button button--small button--secondary" href="#">The next step on this platform…</a>
      </section>
      <section id="android">
        <h2><img src="/assets/icons/logo-android.svg" class="icon" />Android</h2>
        <a class="button button--small button--secondary" href="#">Setup </a>
      </section>
      <section id="chrome">
        <h2><img src="/assets/icons/logo-chrome.svg" class="icon" />Google Chrome</h2>
        <a class="button button--small button--secondary" href="#">The next step on this platform…</a>
      </section>
      <section id="tizen">
        <h2><img src="/assets/icons/logo-tizen.svg" class="icon" />Tizen</h2>
        <a class="button button--small button--secondary" href="#">The next step on this platform…</a>
      </section>

    </article>
  </div>
</div>
